<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC 
	"-//Apple Computer//DTD PLIST 1.0//EN" 
	"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleName</key>
		<string>EXAKT_@version@</string>
		<key>CFBundleVersion</key>
		<string>10.2</string>
		<key>CFBundleAllowMixedLocalizations</key>
		<string>true</string>
		<key>CFBundleExecutable</key>
		<string>JavaApplicationStub</string>
		<key>CFBundleDevelopmentRegion</key>
		<string>English</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleIconFile</key>
		<string>exakt.icns</string>
		<key>Java</key>
		<dict>
			<key>MainClass</key>
			<string>@mainclass@</string>
			<key>JVMVersion</key>
			<string>@javaversion@</string>
			<key>ClassPath</key>
			<string>/System/Library/Java:$JAVAROOT/quaqua.jar:$JAVAROOT/jaxen-1.1.1.jar:$JAVAROOT/jctable.jar:$JAVAROOT/jdom.jar:$JAVAROOT/saxon8.jar:$JAVAROOT/xalan.jar:$JAVAROOT/basicplayer3.0.jar:$JAVAROOT/commons-logging-1.1.jar:$JAVAROOT/QTJava.zip:$JAVAROOT/EXMARaLDA.jar:$JAVAROOT/jl1.0.jar:$JAVAROOT/tritonus_share.jar:$JAVAROOT/mp3spi1.9.4.jar:$JAVAROOT/jmf.jar:$JAVAROOT/swing-worker-1.2.jar:$JAVAROOT/mysql-connector-java-5.1.6-bin.jar</string>
			<key>Properties</key>
			<dict>
				<key>java.library.path</key>
				<string>$JAVAROOT</string>
				<key>com.apple.mrj.application.apple.menu.about.name</key>
				<string>Exakt @version@</string>
				<key>com.apple.hwaccel</key>
				<string>true</string>
				<key>apple.laf.useScreenMenuBar</key>
				<string>true</string>
			</dict>
			<key>VMOptions</key>
			<string>-Xmx512m</string>
		</dict>
	</dict>
</plist>
