<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC 
	"-//Apple Computer//DTD PLIST 1.0//EN" 
	"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleName</key>
        <string>PARTITUREDITOR_@version@</string>
        <key>CFBundleVersion</key>
        <string>10.2</string>
        <key>CFBundleAllowMixedLocalizations</key>
        <string>true</string>
        <key>CFBundleExecutable</key>
        <string>JavaApplicationStub</string>
        <key>CFBundleDevelopmentRegion</key>
        <string>English</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleSignature</key>
        <string>????</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleIconFile</key>
        <string>partitureditor.icns</string>
        <!-- OLD -->
        <!-- <key>JVMArchs</key>
        <string>i386</string> -->
        <!-- FROM ELAN plist -->
        <key>JVMArchs</key>
        <array>
            <string>x86_64</string>
            <string>i386</string>
            <string>ppc</string>
        </array>                
        <key>Java</key>
        <dict>
            <key>MainClass</key>
            <string>@mainclass@</string>
            <key>JVMVersion</key>
            <string>@javaversion@</string>
            <key>ClassPath</key>
            <string>$JAVAROOT/BATIK.jar:$JAVAROOT/JavaQTMovieView-1.4.5.jar:$JAVAROOT/ipsk.jar:$JAVAROOT/quaqua.jar:$JAVAROOT/elan.jar:$JAVAROOT/jaxen-1.1.6.jar:$JAVAROOT/jctable.jar:$JAVAROOT/jdom.jar:$JAVAROOT/saxon9he.jar:$JAVAROOT/xalan.jar:$JAVAROOT/commons-logging-1.2.jar:$JAVAROOT/QTJava.zip:$JAVAROOT/EXMARaLDA.jar:$JAVAROOT/fobs4jmf.jar:$JAVAROOT/jmf.jar:$JAVAROOT/mrj.jar</string>
            <key>Properties</key>
            <dict>
                <key>java.library.path</key>
                <string>$JAVAROOT/dll:$JAVAROOT</string>
                <key>com.apple.mrj.application.apple.menu.about.name</key>
                <string>Partitur-Editor @version@</string>
                <key>com.apple.hwaccel</key>
                <string>true</string>
                <key>apple.laf.useScreenMenuBar</key>
                <string>true</string>
            </dict>
            <!-- OLD -->
            <!-- <key>VMOptions</key>
            <string>-Xmx512m</string> -->
            <!-- FROM ELAN plist -->
            <key>VMOptions</key>
            <array>
                <string>-Xms32M</string>
                <string>-Xmx512M</string>
                <!-- <string>-Djava.util.logging.config.file=elanlog.properties</string> -->
                <string>-DPreferredMediaFramework=CocoaQT</string>
                <!--<string>-Djava.library.path=lib:extensions</string> -->
                <string>-Djava.library.path=$JAVAROOT/dll:$JAVAROOT</string>
                <string>-Djava.ext.dirs=ext:$java.ext.dirs</string>
                <string>-Dsun.net.client.defaultConnectTimeout=-1</string>
            </array>                        
        </dict>
        <key>CFBundleDocumentTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeExtensions</key>
                <array>
                    <string>exb</string>
                </array>
                <key>CFBundleTypeIconFile</key>
                <string>pe-document-icon.icns</string>
                <key>CFBundleTypeName</key>
                <string>EXMARaLDA Basic Transcription</string>
                <key>CFBundleTypeOSTypes</key>
                <array>
                    <string>exbx</string>
                </array>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
            </dict>
        </array>
    </dict>
</plist>
