<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title>EXMARaLDA changes</title><style type="text/css">
						tr, th {						
						font-family: "Courier New", Courier, monospace;
						font-size: 11px;
						}
										
						.bug {
						background-color: #FFCCCC;
						}
						.feature {
						background-color: #99DDFF;
						}
						.change {
						background-color: #CCCCCC;
						}
					
				</style></head>
   <body>
      <h1>Coma changes</h1>
      <table rules="all" frame="box" width="600px">
         <tr>
            <th>Date</th>
            <th>Version</th>
            <th>Change (<span class="bug">bug</span>;<span class="feature">feature</span>;<span class="change">change</span>)
            </th>
         </tr>
         <tr class="feature">
            <td>26.07.2015</td>
            <td>1.9</td>
            <td>cGAT Minimal as tagging option (MoDiKo)</td>
         </tr>
         <tr class="change">
            <td>26.07.2015</td>
            <td>1.9.xxxx</td>
            <td>Custom FSMs for segmentation functionality (MoDiKo)</td>
         </tr>
         <tr class="change">
            <td>26.07.2015</td>
            <td>1.9.xxxx</td>
            <td>Beautified segmentation dialogs</td>
         </tr>
         <tr class="feature">
            <td>24.06.2015</td>
            <td>1.9</td>
            <td>Generic as tagging option</td>
         </tr>
         <tr class="change">
            <td>02.07.2014</td>
            <td>2.0.0000</td>
            <td>new entry (commons-io) in class path for COMA on MAC</td>
         </tr>
         <tr class="change">
            <td>10.09.2013</td>
            <td>2.0.0000</td>
            <td>repaired mac build.</td>
         </tr>
         <tr class="change">
            <td>04.09.2013</td>
            <td>1.9.1467</td>
            <td>splash-auto-timeout</td>
         </tr>
         <tr class="change">
            <td>21.08.2013</td>
            <td>1.9.1460</td>
            <td>better handling of recordings vs. media-files</td>
         </tr>
         <tr class="bug">
            <td>21.08.2013</td>
            <td>1.9.1448</td>
            <td>error when comms or spks get filtered due to edits (DS)</td>
         </tr>
         <tr class="change">
            <td>20.08.2013</td>
            <td>1.9.1448</td>
            <td>changes on how filters and search-terms are handled</td>
         </tr>
         <tr class="bug">
            <td>20.08.2013</td>
            <td>1.9.1448</td>
            <td>Adding unsupported media files will not crash coma anymore</td>
         </tr>
         <tr class="change">
            <td>20.08.2013</td>
            <td>1.9.1448</td>
            <td>changed handling of recording-names (Hanna)</td>
         </tr>
         <tr class="bug">
            <td>20.08.2013</td>
            <td>1.9.1448</td>
            <td>Editing attributes in the second comm-column fixed</td>
         </tr>
         <tr class="bug">
            <td>20.08.2013</td>
            <td>1.9.1448</td>
            <td>Segmenting from within coma now adds the segmented transcriptions to the metadata</td>
         </tr>
         <tr class="bug">
            <td>20.08.2013</td>
            <td>1.9.1448</td>
            <td>Error in path handling fixed for corpus statistics</td>
         </tr>
         <tr class="feature">
            <td>26.03.2013</td>
            <td>1.9.1404</td>
            <td>possibility to hide description keys (requires schema change!)</td>
         </tr>
         <tr class="change">
            <td>25.03.2013</td>
            <td>1.9.1400</td>
            <td>ui changes, updated language file</td>
         </tr>
         <tr class="change">
            <td>22.03.2013</td>
            <td>1.9.1394</td>
            <td>auto-browse output html</td>
         </tr>
         <tr class="change">
            <td>22.03.2013</td>
            <td>1.9.1394</td>
            <td>read-only keys are not to be harmonized (Hanna)</td>
         </tr>
         <tr class="bug">
            <td>04.03.2013</td>
            <td>1.9.1392</td>
            <td>Bug in tree tagger tool (Roman)</td>
         </tr>
         <tr class="bug">
            <td>19.11.2012</td>
            <td>1.9.1368</td>
            <td>Bug in corpus statistics for Non-HIAT-Transcriptions (GeWiss)</td>
         </tr>
         <tr class="change">
            <td>09.10.2012</td>
            <td>1.9.1349</td>
            <td>Corpus statistics for Non-HIAT-Transcriptions (GeWiss)</td>
         </tr>
         <tr class="change">
            <td>02.10.2012</td>
            <td>1.9.1348</td>
            <td>Merge document action (GeWiss)</td>
         </tr>
         <tr class="bug">
            <td>01.08.2012</td>
            <td>1.9</td>
            <td>word list functionality was broken (like the first morning)</td>
         </tr>
         <tr class="feature">
            <td>18.01.2012</td>
            <td>1.9</td>
            <td>Bug in speaker specific wordlists: counts all speakers in files with the selected speakers (Anna Komor)</td>
         </tr>
         <tr class="feature">
            <td>23.12.2011</td>
            <td>1.9</td>
            <td>Completed first attempt at implementing speaker-specific word lists (Anna Komor)</td>
         </tr>
         <tr class="feature">
            <td>16.12.2011</td>
            <td>1.9</td>
            <td>Started implementing speaker-specific word lists (Anna Komor)</td>
         </tr>
         <tr class="bug">
            <td>21.10.2011</td>
            <td>1.9</td>
            <td>bug fix: version checking for new file (post-release...)</td>
         </tr>
         <tr class="change">
            <td>20.10.2011</td>
            <td>1.9</td>
            <td>Preparing release</td>
         </tr>
         <tr class="bug">
            <td>20.10.2011</td>
            <td>1.8.1100</td>
            <td>fixed launcher, search-result-highlighting, L10n</td>
         </tr>
         <tr class="changed">
            <td>19.10.2011</td>
            <td>1.8.1100</td>
            <td>removed roles code for release</td>
         </tr>
         <tr class="feature">
            <td>05.07.2011</td>
            <td>1.8.1061</td>
            <td>Description profile as output option</td>
         </tr>
         <tr class="bug">
            <td>22.06.2011</td>
            <td>1.8.1057</td>
            <td>Bug fix in CCW related to integration of segmentated files</td>
         </tr>
         <tr class="change">
            <td>22.06.2011</td>
            <td>1.8.1057</td>
            <td>Additional progress indicator when segmenting in CCW</td>
         </tr>
         <tr class="bug">
            <td>17.06.2011</td>
            <td>1.8.1044</td>
            <td>removed established and newly introduced bugs (import languages, edit in commTable)</td>
         </tr>
         <tr class="feature">
            <td>19.05.2011</td>
            <td>1.8.1026</td>
            <td>nulling keynames in harmonize keys dialog now deletes the keys</td>
         </tr>
         <tr class="feature">
            <td>13.05.2011</td>
            <td>1.8.1016</td>
            <td>TreeTagger integrated into Tools menu</td>
         </tr>
         <tr class="feature">
            <td>09.05.2011</td>
            <td>1.8.1010</td>
            <td>CHAT_MINIMAL segmentation added at several places (ur: E11)</td>
         </tr>
         <tr class="change">
            <td>13.04.2011</td>
            <td>1.8.1000</td>
            <td>One Thousand Commits! And: CCW doesn't create locations anymore</td>
         </tr>
         <tr class="feature">
            <td>13.04.2011</td>
            <td>1.8.997</td>
            <td>Filter and Sort for language-type added</td>
         </tr>
         <tr class="bug">
            <td>13.04.2011</td>
            <td>1.8.989</td>
            <td>Missing jar in CP for LINUX distribution</td>
         </tr>
         <tr class="bug">
            <td>24.03.2011</td>
            <td>1.8.982</td>
            <td>Fixed bug in update recordings method</td>
         </tr>
         <tr class="change">
            <td>17.01.2011</td>
            <td>1.8.913</td>
            <td>Fixed bug in Count segments routine</td>
         </tr>
         <tr class="change">
            <td>06.01.2011</td>
            <td>1.8.911</td>
            <td>Fixed bug in Search &amp; Replace routine</td>
         </tr>
         <tr class="change">
            <td>06.01.2011</td>
            <td>1.8.910</td>
            <td>Check type selection in COMA structure checking</td>
         </tr>
         <tr class="change">
            <td>05.01.2011</td>
            <td>1.8.910</td>
            <td>Temporal anomaly check also in COMA structure checking</td>
         </tr>
         <tr class="change">
            <td>22.12.2010</td>
            <td>1.8.904</td>
            <td>changes to the schema</td>
         </tr>
         <tr class="change">
            <td>20.12.2010</td>
            <td>1.8.903</td>
            <td>CCW creates type-attributes for l1 and l2 instead of status-description-keys</td>
         </tr>
         <tr class="bug">
            <td>02.12.2010</td>
            <td>1.8.894</td>
            <td>UTF-8 for output-stylesheets</td>
         </tr>
         <tr class="feature">
            <td>29.11.2010</td>
            <td>1.8</td>
            <td>release version</td>
         </tr>
         <tr class="change">
            <td>25.11.2010</td>
            <td>1.7.884</td>
            <td>internationalization</td>
         </tr>
         <tr class="change">
            <td>23.11.2010</td>
            <td>1.7.878</td>
            <td>added Nimus L+F to preferences</td>
         </tr>
         <tr class="change">
            <td>23.11.2010</td>
            <td>1.7.878</td>
            <td>opening a corpus won't trigger a xmlChanged anymore</td>
         </tr>
         <tr class="change">
            <td>12.11.2010</td>
            <td>1.7.861</td>
            <td>further changes to the roleplay-component</td>
         </tr>
         <tr class="bug">
            <td>12.11.2010</td>
            <td>1.7.861</td>
            <td>fixed bug in saving baskets</td>
         </tr>
         <tr class="change">
            <td>22.10.2010</td>
            <td>1.7.845</td>
            <td>cleaned the corpus panel</td>
         </tr>
         <tr class="bug">
            <td>22.10.2010</td>
            <td>1.7.845</td>
            <td>"save changes" in create corpus action works now</td>
         </tr>
         <tr class="bug">
            <td>19.10.2010</td>
            <td>1.7.834</td>
            <td>update panel debugged...again!</td>
         </tr>
         <tr class="bug">
            <td>18.10.2010</td>
            <td>1.7.832</td>
            <td>basket-saving debugged</td>
         </tr>
         <tr class="feature">
            <td>13.10.2010</td>
            <td>1.7.822</td>
            <td>xsl-output-option</td>
         </tr>
         <tr class="change">
            <td>12.10.2010</td>
            <td>1.7.814</td>
            <td>changes in the mac-buildfiles</td>
         </tr>
         <tr class="feature">
            <td>07.09.2010</td>
            <td>1.7.800</td>
            <td>xpath for search-and-replace</td>
         </tr>
         <tr class="feature">
            <td>23.08.2010</td>
            <td>1.7.788</td>
            <td>search-and-replace in transcriptions</td>
         </tr>
         <tr class="feature">
            <td>23.08.2010</td>
            <td>1.7.775</td>
            <td>segmentation action (todo: add COMA elements)</td>
         </tr>
         <tr class="feature">
            <td>23.08.2010</td>
            <td>1.7.775</td>
            <td>speaker check action (todo: add speakers functionality)</td>
         </tr>
         <tr class="feature">
            <td>03.08.2010</td>
            <td>1.7.752</td>
            <td>path column in ccw (timm)</td>
         </tr>
         <tr class="bug">
            <td>26.07.2010</td>
            <td>1.7.740</td>
            <td>assigning metadata to recordings in ccw repaired</td>
         </tr>
         <tr class="change">
            <td>13.07.2010</td>
            <td>1.7.720</td>
            <td>(beta)user roles</td>
         </tr>
         <tr class="change">
            <td>13.07.2010</td>
            <td>1.7.714</td>
            <td>splash, garbage collection</td>
         </tr>
         <tr class="change">
            <td>13.07.2010</td>
            <td>1.7.709</td>
            <td>remove filters for new corpora, changes to quit()</td>
         </tr>
         <tr class="change">
            <td>10.06.2010</td>
            <td>1.7.689</td>
            <td>localized transcription import, changes to the language display</td>
         </tr>
         <tr class="bug">
            <td>10.06.2010</td>
            <td>1.7.689</td>
            <td>coma would only display one location per speaker</td>
         </tr>
         <tr class="feature">
            <td>09.06.2010</td>
            <td>1.7.688</td>
            <td>updated documentation, display settings again, modified corpus-statistics code</td>
         </tr>
         <tr class="feature">
            <td>28.05.2010</td>
            <td>1.7.691</td>
            <td>delete attached files again</td>
         </tr>
         <tr class="feature">
            <td>27.05.2010</td>
            <td>1.7</td>
            <td>release version</td>
         </tr>
         <tr class="feature">
            <td>26.05.2010</td>
            <td>1.6.684</td>
            <td>inserted recording-updater again</td>
         </tr>
         <tr class="bug">
            <td>12.05.2010</td>
            <td>1.6.670</td>
            <td>bug in open file detection fixed, added overwrite warning</td>
         </tr>
         <tr class="bug">
            <td>12.05.2010</td>
            <td>1.6.670</td>
            <td>bug in exit and new corpus routine (Timm)</td>
         </tr>
         <tr class="change">
            <td>06.05.2010</td>
            <td>1.6.668</td>
            <td>display language names</td>
         </tr>
         <tr class="change">
            <td>06.05.2010</td>
            <td>1.6.666</td>
            <td>hid a devilish bug somewhere</td>
         </tr>
         <tr class="change">
            <td>04.05.2010</td>
            <td>1.6.664</td>
            <td>minor changes to the corpus-panel</td>
         </tr>
         <tr class="change">
            <td>28.04.2010</td>
            <td>1.6.662</td>
            <td>changed deselection mode for jtables (FiSS)</td>
         </tr>
         <tr class="feature">
            <td>28.04.2010</td>
            <td>1.6.661</td>
            <td>language-name lookup in edit language dialog</td>
         </tr>
         <tr class="change">
            <td>15.04.2010</td>
            <td>1.6.637</td>
            <td>non-existing description-values editable in lists now. restricted to descriptions.</td>
         </tr>
         <tr class="change">
            <td>15.04.2010</td>
            <td>1.6.637</td>
            <td>fire list updates more often</td>
         </tr>
         <tr class="feature">
            <td>15.04.2010</td>
            <td>1.6.637</td>
            <td>corpus word list action</td>
         </tr>
         <tr class="change">
            <td>15.04.2010</td>
            <td>1.6.637</td>
            <td>changed menu-items to uppercase (Thomas)</td>
         </tr>
         <tr class="change">
            <td>15.04.2010</td>
            <td>1.6.637</td>
            <td>preferences-reset added, changed some default directories</td>
         </tr>
         <tr class="change">
            <td>15.04.2010</td>
            <td>1.6.636</td>
            <td>progress bar for segmentation in CCW</td>
         </tr>
         <tr class="bug">
            <td>14.04.2010</td>
            <td>1.6.629</td>
            <td>repaired key harmonizer</td>
         </tr>
         <tr class="feature">
            <td>14.04.2010</td>
            <td>1.6.629</td>
            <td>calculate recording times</td>
         </tr>
         <tr class="feature">
            <td>14.04.2010</td>
            <td>1.6.629</td>
            <td>import basic transcriptions</td>
         </tr>
         <tr class="bug">
            <td>13.04.2010</td>
            <td>1.6.623</td>
            <td>repaired location-edit-dialog and location-type-filtering (FiSS)</td>
         </tr>
         <tr class="bug">
            <td>13.04.2010</td>
            <td>1.6.623</td>
            <td>repaired language-edit-dialog (FiSS)</td>
         </tr>
         <tr class="change">
            <td>09.04.2010</td>
            <td>1.6.621</td>
            <td>moved "show speakers" to (new) view-menu</td>
         </tr>
         <tr class="feature">
            <td>09.04.2010</td>
            <td>1.6.621</td>
            <td>stylesheet selection for metadata-display</td>
         </tr>
         <tr class="change">
            <td>09.04.2010</td>
            <td>1.6.621</td>
            <td>recent files redone (untested)</td>
         </tr>
         <tr class="change">
            <td>09.04.2010</td>
            <td>1.6.617</td>
            <td>added datatype "file" (largely untested!)</td>
         </tr>
         <tr class="change">
            <td>08.04.2010</td>
            <td>1.6.613</td>
            <td>clear basket with when corpus changes, basket moved to data</td>
         </tr>
         <tr class="change">
            <td>08.04.2010</td>
            <td>1.6.613</td>
            <td>display data-panel instead of corpus panel</td>
         </tr>
         <tr class="bug">
            <td>08.04.2010</td>
            <td>1.6.613</td>
            <td>description-dialog has a scollbar now (TS)</td>
         </tr>
         <tr class="feature">
            <td>07.04.2010</td>
            <td>1.6.609</td>
            <td>separator between datatypes (FiSS)</td>
         </tr>
         <tr class="feature">
            <td>07.04.2010</td>
            <td>1.6.608</td>
            <td>locations are output in alphabetical order now (FiSS)</td>
         </tr>
         <tr class="bug">
            <td>07.04.2010</td>
            <td>1.6.606</td>
            <td>new xml- and html-escaping (FiSS)</td>
         </tr>
         <tr class="bug">
            <td>01.04.2010</td>
            <td>1.6.605</td>
            <td>removed duplicates from recent file list</td>
         </tr>
         <tr class="bug">
            <td>01.04.2010</td>
            <td>1.6.604</td>
            <td>edit speaker dialog corrected</td>
         </tr>
         <tr class="bug">
            <td>01.04.2010</td>
            <td>1.6.603</td>
            <td>pressing escape in save-changes-dialog now cancels instead of selecting "no"</td>
         </tr>
         <tr class="bug">
            <td>01.04.2010</td>
            <td>1.6.601</td>
            <td>saving a basket no longer removes elements from the corpus (submitted by FiSS)</td>
         </tr>
         <tr class="change">
            <td>01.04.2010</td>
            <td>1.6.600</td>
            <td>Basket-saving only to same dir as coma-file</td>
         </tr>
         <tr class="bug">
            <td>01.04.2010</td>
            <td>1.6.605</td>
            <td>removed duplicates from recent file list</td>
         </tr>
         <tr class="bug">
            <td>01.04.2010</td>
            <td>1.6.604</td>
            <td>edit speaker dialog corrected</td>
         </tr>
         <tr class="bug">
            <td>01.04.2010</td>
            <td>1.6.603</td>
            <td>pressing escape in save-changes-dialog now cancels instead of selecting "no"</td>
         </tr>
         <tr class="bug">
            <td>01.04.2010</td>
            <td>1.6.601</td>
            <td>saving a basket no longer removes elements from the corpus (submitted by FiSS)</td>
         </tr>
         <tr class="change">
            <td>01.04.2010</td>
            <td>1.6.600</td>
            <td>Basket-saving only to same dir as coma-file</td>
         </tr>
         <tr class="feature">
            <td>23.02.2010</td>
            <td>1.6.528</td>
            <td>started implementing import for basic trans</td>
         </tr>
         <tr class="bug">
            <td>27.01.2010</td>
            <td>1.6.528</td>
            <td>Fixed weirdness in Load templates by cleaning &amp; building</td>
         </tr>
         <tr class="change">
            <td>20.01.2010</td>
            <td>1.6.528</td>
            <td>Look and Feel - Quaqua on Macs, System on others</td>
         </tr>
         <tr class="bug">
            <td>20.01.2010</td>
            <td>1.6.528</td>
            <td>No longer crashes when opening non-xml-files as templates (Adriana Slavcheva)</td>
         </tr>
         <tr class="change">
            <td>20.01.2010</td>
            <td>1.6.528</td>
            <td>Tooltips and the likes (Thomas)</td>
         </tr>
         <tr class="change">
            <td>16.12.2009</td>
            <td>1.6.520</td>
            <td>minor changes in menubar</td>
         </tr>
         <tr class="feature">
            <td>14.12.2009</td>
            <td>1.6.515</td>
            <td>added corpus statistics operation</td>
         </tr>
         <tr class="feature">
            <td>09.12.2009</td>
            <td>1.6.508</td>
            <td>harmonize description keys (first version)</td>
         </tr>
         <tr class="change">
            <td>08.12.2009</td>
            <td>1.6.503</td>
            <td>changed filter and column toggeling</td>
         </tr>
         <tr class="feature">
            <td>08.12.2009</td>
            <td>1.6.503</td>
            <td>added search functionality</td>
         </tr>
         <tr class="feature">
            <td>08.12.2009</td>
            <td>1.6.498</td>
            <td>added segmentation check operation</td>
         </tr>
         <tr class="feature">
            <td>08.12.2009</td>
            <td>1.6.498</td>
            <td>added structure check operation</td>
         </tr>
         <tr class="bug">
            <td>20.11.2009</td>
            <td>1.6</td>
            <td>repaired faulty html in display panel</td>
         </tr>
         <tr class="change">
            <td>20.11.2009</td>
            <td>1.6</td>
            <td>added pdfs to mac distribution</td>
         </tr>
         <tr class="feature">
            <td>20.11.2009</td>
            <td>1.6</td>
            <td>updated the updater</td>
         </tr>
         <tr class="bug">
            <td>20.11.2009</td>
            <td>1.6</td>
            <td>repaired faulty html in display panel</td>
         </tr>
         <tr class="change">
            <td>20.11.2009</td>
            <td>1.6</td>
            <td>added pdfs to mac distribution</td>
         </tr>
         <tr class="change">
            <td>20.11.2009</td>
            <td>1.5.459</td>
            <td>minor changes in built-script</td>
         </tr>
         <tr class="bug">
            <td>20.11.2009</td>
            <td>1.5.459</td>
            <td>clone communications now disabled when no communication is selected</td>
         </tr>
         <tr class="change">
            <td>20.11.2009</td>
            <td>1.5.459</td>
            <td>misc. layout changes</td>
         </tr>
         <tr class="bug">
            <td>20.11.2009</td>
            <td>1.5.459</td>
            <td>bug in ccw (forward-button gets disabled) fixed</td>
         </tr>
         <tr class="change">
            <td>05.11.2009</td>
            <td>1.5.447</td>
            <td>refresh segment count now in tools menu with working progress meter</td>
         </tr>
         <tr class="change">
            <td>03.11.2009</td>
            <td>1.5.443</td>
            <td>reactivated maintenance button (Katharina Mayr), hide segment counts in display</td>
         </tr>
         <tr class="change">
            <td>27.10.2009</td>
            <td>1.5.415</td>
            <td>changes to the basket-panel and transcription-display</td>
         </tr>
         <tr class="feature">
            <td>09.10.2009</td>
            <td>1.5.399</td>
            <td>changes in the mac-build-process</td>
         </tr>
         <tr class="feature">
            <td>07.10.2009</td>
            <td>1.5.396</td>
            <td>progress bar for EXAKT search init</td>
         </tr>
         <tr class="bug">
            <td>06.10.2009</td>
            <td>1.5.391</td>
            <td>fixed bug in applying templates</td>
         </tr>
         <tr class="bug">
            <td>06.10.2009</td>
            <td>1.5.391</td>
            <td>fixed bug in saving templates</td>
         </tr>
         <tr class="feature">
            <td>11.08.2009</td>
            <td>1.5.6</td>
            <td>import speakers from other coma-files</td>
         </tr>
         <tr class="bug">
            <td>01.07.2009</td>
            <td>1.5.5</td>
            <td>possible bug in generate corpus: must catch the case where basic transcription has no suffix</td>
         </tr>
         <tr class="bug">
            <td>01.07.2009</td>
            <td>1.5.5</td>
            <td>generate corpus: different swing worker needs to be used to be compatible with 1.5</td>
         </tr>
         <tr class="bug">
            <td>24.06.2009</td>
            <td>1.5.5</td>
            <td>description editing revamped.</td>
         </tr>
         <tr class="bug">
            <td>24.06.2009</td>
            <td>1.5.5</td>
            <td>filters where disabled for some reason. not anymore.</td>
         </tr>
         <tr class="change">
            <td>19.06.2009</td>
            <td>1.5.5</td>
            <td>new css-handling for display-panel, better location-type-handling</td>
         </tr>
         <tr class="change">
            <td>19.06.2009</td>
            <td>1.5.5</td>
            <td>new css-handling for display-panel, better location-type-handling</td>
         </tr>
         <tr class="change">
            <td>15.06.2009</td>
            <td>1.5.5</td>
            <td>new edit-dialog for speakers</td>
         </tr>
         <tr class="feature">
            <td>12.06.2009</td>
            <td>1.5.5</td>
            <td>preliminary multi-line editing in description-dialog</td>
         </tr>
         <tr class="change">
            <td>12.06.2009</td>
            <td>1.5.5</td>
            <td>adding and editing recordings moved to html-panel</td>
         </tr>
         <tr class="feature">
            <td>12.06.2009</td>
            <td>1.5.5</td>
            <td>preliminary printing via java.desktop</td>
         </tr>
         <tr class="feature">
            <td>25.05.2009</td>
            <td>1.5.1</td>
            <td>added Turkish language file</td>
         </tr>
         <tr class="bug">
            <td>14.05.2009</td>
            <td>1.5.1</td>
            <td>document has not changed when you have just opened coma</td>
         </tr>
         <tr class="bug">
            <td>14.05.2009</td>
            <td>1.5.1</td>
            <td>windows versions can save and open files again...</td>
         </tr>
         <tr class="bug">
            <td>20.04.2009</td>
            <td>1.5</td>
            <td>descriptions are editable again...</td>
         </tr>
         <tr class="change">
            <td>07.04.2009</td>
            <td>1.4.2</td>
            <td>kissed subcorpora goodbye, added method to merge subcorpora-information into speakers and communications</td>
         </tr>
         <tr class="change">
            <td>07.04.2009</td>
            <td>1.4.2</td>
            <td>implemented com.apple.eawt and finder-integration</td>
         </tr>
         <tr class="change">
            <td>07.04.2009</td>
            <td>1.4.2</td>
            <td>changed some more file-dialogs to native code</td>
         </tr>
         <tr class="change">
            <td>07.04.2009</td>
            <td>1.4.2</td>
            <td>changed corpus-panel, killed 1200 lines of ugliest code</td>
         </tr>
         <tr class="change">
            <td>07.04.2009</td>
            <td>1.4.2</td>
            <td>changed 'firstrun'-code. default language is english now</td>
         </tr>
         <tr class="feature">
            <td>27.03.2009</td>
            <td>1.4.1</td>
            <td>implemented type-attribute for languages</td>
         </tr>
         <tr class="bug">
            <td>26.03.2009</td>
            <td>1.4.1</td>
            <td>recordings were created wrong. fixed.</td>
         </tr>
         <tr class="change">
            <td>26.03.2009</td>
            <td>1.4.1</td>
            <td>changes to the schema - see schema-file</td>
         </tr>
         <tr class="change">
            <td>26.03.2009</td>
            <td>1.4.1</td>
            <td>purged periodExact and knownHuman from the code, remains in the schema for backwards-compatibility</td>
         </tr>
         <tr class="change">
            <td>25.03.2009</td>
            <td>1.4.1</td>
            <td>type-attribute for locations shows and is editable now</td>
         </tr>
         <tr class="change">
            <td>24.03.2009</td>
            <td>1.4.1</td>
            <td>coma recognizes .exb-files for assigning and ccw now</td>
         </tr>
         <tr class="change">
            <td>12.03.2009</td>
            <td>1.4.1</td>
            <td>changes in the description-dialog</td>
         </tr>
         <tr class="change">
            <td>12.03.2009</td>
            <td>1.4.1</td>
            <td>table-selection handling vastly improved (i hope)</td>
         </tr>
         <tr class="feature">
            <td>04.03.2009</td>
            <td>1.4.1.224</td>
            <td>changes to the auto-update-mechanism, removed loads of asdf-comments</td>
         </tr>
         <tr class="feature">
            <td>26.02.2009</td>
            <td>1.4.1.213</td>
            <td>removed menubar-icons, added copy-debug-info-action</td>
         </tr>
         <tr class="feature">
            <td>26.02.2009</td>
            <td>1.4.1.208</td>
            <td>implements exmaralda-application and logging, logging-dir-preference</td>
         </tr>
         <tr class="feature">
            <td>25.02.2009</td>
            <td>1.4.1.204</td>
            <td>auto-update feature (untested for windows)</td>
         </tr>
         <tr class="bug">
            <td>18.02.2009</td>
            <td>1.4.1_190</td>
            <td>coma mac-build was missing the fsm-files for segmentation</td>
         </tr>
         <tr class="change">
            <td>18.02.2009</td>
            <td>1.4.1_190</td>
            <td>coma files have the extension .coma now</td>
         </tr>
         <tr class="bug">
            <td>02.02.2009</td>
            <td>1.4</td>
            <td>changes in recording.toHTML()</td>
         </tr>
         <tr class="bug">
            <td>02.02.2009</td>
            <td>1.4</td>
            <td>corpus-creator changed: one recording - multiple media files, overwrite confirmation</td>
         </tr>
         <tr class="bug">
            <td>30.01.2009</td>
            <td>1.4</td>
            <td>Description-Keys are now always deleted by deleting their value (Petra's Mail)</td>
         </tr>
         <tr class="bug">
            <td>28.01.2008</td>
            <td>1.35_176</td>
            <td>Pressing escape while editing communication-names caused a NPE</td>
         </tr>
         <tr class="bug">
            <td>27.01.2008</td>
            <td>1.35_176</td>
            <td>changed xmlSaved-notification and titlebar-display</td>
         </tr>
         <tr class="change">
            <td>27.01.2008</td>
            <td>1.35_176</td>
            <td>Changed the input-method for durations YET AGAIN!</td>
         </tr>
         <tr class="bug">
            <td>19.01.2009</td>
            <td>1.35_171</td>
            <td>fixed three bugs in the corpus generator</td>
         </tr>
         <tr class="bug">
            <td>17.12.2008</td>
            <td>1.35_162</td>
            <td>fixed error in table updates and template-handling</td>
         </tr>
         <tr class="change">
            <td>15.12.2008</td>
            <td>1.35_160</td>
            <td>comacorpus.xsd changed to 1.5 - changes are documented inside the file</td>
         </tr>
         <tr class="feature">
            <td>27.11.2008</td>
            <td>1.35_150</td>
            <td>templates for descriptions</td>
         </tr>
         <tr class="feature">
            <td>27.11.2008</td>
            <td>1.35_150</td>
            <td>you can not add transcriptions and recordings in an unsaved document anymore</td>
         </tr>
         <tr class="bug">
            <td>27.11.2008</td>
            <td>1.35_150</td>
            <td>fixed several errors concerned with saving, url resolving and other stuff</td>
         </tr>
         <tr class="feature">
            <td>21.11.2008</td>
            <td>1.35_135</td>
            <td>added templates for descriptions. this build is largely untested!</td>
         </tr>
         <tr class="bug">
            <td>20.11.2008</td>
            <td>1.35_131</td>
            <td>language-lookup now with lowercase-letters (thanks, ethnologue...)</td>
         </tr>
         <tr class="feature">
            <td>21.11.2008</td>
            <td>1.35_135</td>
            <td>added templates for descriptions. this build is largely untested!</td>
         </tr>
         <tr class="bug">
            <td>20.11.2008</td>
            <td>1.35_131</td>
            <td>language-lookup now with lowercase-letters (thanks, ethnologue...)</td>
         </tr>
         <tr class="bug">
            <td>30.10.2008</td>
            <td>1.35_118</td>
            <td>there was still a bug in durations-calculation. replaced the whole thing.</td>
         </tr>
         <tr class="feature">
            <td>27.10.2008</td>
            <td>1.35_112</td>
            <td>changed preferences handling - dumped 250 lines of code, added defaults-button</td>
         </tr>
         <tr class="feature">
            <td>24.10.2008</td>
            <td>1.35_103</td>
            <td>added preferences option to disable writing IDs into transcription files</td>
         </tr>
         <tr class="bug">
            <td>24.10.2008</td>
            <td>1.35_103</td>
            <td>Maintenance-Tools repaired (reload transcription information)</td>
         </tr>
         <tr class="feature">
            <td>08.10.2008</td>
            <td>1.35_85</td>
            <td>show file path to transcription in transcription-info</td>
         </tr>
         <tr class="bug">
            <td>08.10.2008</td>
            <td>1.35_85</td>
            <td>fixed bugs in timespan calculation</td>
         </tr>
         <tr class="change">
            <td>07.10.2008</td>
            <td>1.34</td>
            <td>minor fixes and new build-targets</td>
         </tr>
         <tr class="bug">
            <td>29.09.2008</td>
            <td>1.33_66</td>
            <td>html-display for media-files fixed</td>
         </tr>
         <tr class="bug">
            <td>29.09.2008</td>
            <td>1.33_66</td>
            <td>html-display for media-files fixed</td>
         </tr>
         <tr class="bug">
            <td>26.09.2008</td>
            <td>1.33_62</td>
            <td>key-sorting is not reverse anymore</td>
         </tr>
         <tr class="bug">
            <td>26.09.2008</td>
            <td>1.33_59</td>
            <td>bug in location-edit-dialog fixed</td>
         </tr>
         <tr class="bug">
            <td>25.09.2008</td>
            <td>1.32</td>
            <td>millisecond-handling now with BigDecimals to prevent rounding errors in durations</td>
         </tr>
         <tr class="feature">
            <td>01.08.2008</td>
            <td>1.31</td>
            <td>template-autosave</td>
         </tr>
         <tr class="feature">
            <td>01.08.2008</td>
            <td>1.31</td>
            <td>awt-filedialog auf dem mac an einigen stellen</td>
         </tr>
         <tr class="bug">
            <td>01.08.2008</td>
            <td>1.31</td>
            <td>ein paar nullpointer in den templates beseitigt</td>
         </tr>
         <tr class="bug">
            <td>01.08.2008</td>
            <td>1.31</td>
            <td>templates und segmentierung in die dokumentation aufgenommen</td>
         </tr>
         <tr class="feature">
            <td>01.08.2008</td>
            <td>1.31</td>
            <td>templates für locations</td>
         </tr>
         <tr class="feature">
            <td>01.08.2008</td>
            <td>1.31</td>
            <td>ccw-panel von  blödem layout befreit</td>
         </tr>
         <tr class="bug">
            <td>29.07.2008</td>
            <td>1.24</td>
            <td>Comm/Setting/Description liess sich nicht editieren</td>
         </tr>
         <tr class="bug">
            <td>29.07.2008</td>
            <td>1.24</td>
            <td>SplitPanes verbessert</td>
         </tr>
         <tr class="bug">
            <td>28.07.2008</td>
            <td>1.23</td>
            <td>Fehler im Segment-Zähler korrigiert</td>
         </tr>
         <tr class="bug">
            <td>22.07.2008</td>
            <td>1.22</td>
            <td>Fehler in der Tabellendarstellung behoben ("redo selection")</td>
         </tr>
         <tr class="bug">
            <td>01.06.2008</td>
            <td>1.21</td>
            <td>Fehler in CCW behoben: @-Zeichen am Anfang von "uniqueSpeaker..." entfernt.</td>
         </tr>
         <tr class="bug">
            <td>16.05.2008</td>
            <td>1.2</td>
            <td>Fehler beim Speichern und Abrufen der Einstellungen behoben. Alle Einstellungen gehen jetzt nach org.exmaralda.coma und das
               geschieht in Ui.java
            </td>
         </tr>
         <tr class="feature">
            <td>16.05.2008</td>
            <td>1.2</td>
            <td>Dublin-Core-Metadata-Button and handling</td>
         </tr>
         <tr class="bug">
            <td>24.04.2008</td>
            <td>1.11</td>
            <td>ComaFilter: JToggleButtons statt JCheckboxes</td>
         </tr>
         <tr class="bug">
            <td>24.04.2008</td>
            <td>1.11</td>
            <td>package-struktur komplett auf org.exmaralda.coma umgestellt</td>
         </tr>
         <tr class="bug">
            <td>24.04.2008</td>
            <td>1.11</td>
            <td>keine files mehr in coma/*</td>
         </tr>
         <tr class="bug">
            <td>24.04.2008</td>
            <td>1.11</td>
            <td>SVN via SourceForge</td>
         </tr>
         <tr class="bug">
            <td>24.04.2008</td>
            <td>1.11</td>
            <td>alle ressourcen (auch bilder) nach /resources, mit ResourceHandler.java auflösen</td>
         </tr>
         <tr class="bug">
            <td>24.04.2008</td>
            <td>1.11</td>
            <td>Unique Speaker Distinction für "add Corpora" hat gefehlt</td>
         </tr>
         <tr class="bug">
            <td>24.04.2008</td>
            <td>1.11</td>
            <td>Fehler beim "auskoppeln" von Korpora behoben</td>
         </tr>
         <tr class="bug">
            <td>24.04.2008</td>
            <td>1.11</td>
            <td>SegmentCount Button repariert</td>
         </tr>
         <tr class="bug">
            <td>24.04.2008</td>
            <td>1.11</td>
            <td>SegmentCount zählt jetzt in ausgewählten Comm. statt in allen</td>
         </tr>
         <tr class="bug">
            <td>24.04.2008</td>
            <td>1.11</td>
            <td>Mülleimer-Symbol durch "Minus" ersetzt</td>
         </tr>
         <tr class="bug">
            <td>24.04.2008</td>
            <td>1.11</td>
            <td>Übersetzungen ergänzt</td>
         </tr>
         <tr class="feature">
            <td>24.04.2008</td>
            <td>1.11</td>
            <td>duplicate communications</td>
         </tr>
         <tr class="feature">
            <td>24.04.2008</td>
            <td>1.11</td>
            <td>moved panic-button</td>
         </tr>
         <tr class="bug">
            <td>24.04.2008</td>
            <td>1.11</td>
            <td>add-to-basket repaired</td>
         </tr>
         <tr class="feature">
            <td>22.04.2008</td>
            <td>1.06</td>
            <td>duplicate speakers</td>
         </tr>
         <tr class="bug">
            <td>14.04.2008</td>
            <td>1.05</td>
            <td>ccw macht das fenster zu</td>
         </tr>
         <tr class="feature">
            <td>14.04.2008</td>
            <td>1.05</td>
            <td>ccw lokalisiert</td>
         </tr>
         <tr class="bug">
            <td>14.04.2008</td>
            <td>1.04</td>
            <td>XML-Anzeige und Editor entfernt</td>
         </tr>
         <tr class="feature">
            <td>14.04.2008</td>
            <td>1.04</td>
            <td>new transcription-importer ("ccw")</td>
         </tr>
         <tr class="feature">
            <td>14.04.2008</td>
            <td>1.04</td>
            <td>"known human" now optional</td>
         </tr>
         <tr class="change">
            <td>10.03.2008</td>
            <td>1.02</td>
            <td>Update-Check aus Werkzeug-Menü entfernt</td>
         </tr>
         <tr class="change">
            <td>10.03.2008</td>
            <td>1.02</td>
            <td>Aboutness-Keyboard-Shortcut entfernt</td>
         </tr>
         <tr class="change">
            <td>10.03.2008</td>
            <td>1.02</td>
            <td>TableSorter-Klasse eliminiert</td>
         </tr>
         <tr class="feature">
            <td>10.03.2008</td>
            <td>1.02</td>
            <td>Neuer Aufräum-Knopf bei den Aufnahmen</td>
         </tr>
         <tr class="bug">
            <td>10.03.2008</td>
            <td>1.02</td>
            <td>Aufnahmen zuordnen für alle repariert</td>
         </tr>
         <tr class="bug">
            <td>10.03.2008</td>
            <td>1.02</td>
            <td>Aufnahmen-Tabelle reagiert jetzt</td>
         </tr>
         <tr class="bug">
            <td>05.03.2008</td>
            <td>1.01</td>
            <td>fehlende Englische Übersetzungen ergänzt</td>
         </tr>
         <tr class="bug">
            <td>05.03.2008</td>
            <td>1.01</td>
            <td>Korpus-Description-Panel repariert</td>
         </tr>
         <tr class="feature">
            <td>05.03.2008</td>
            <td>1.01</td>
            <td>komplett neuer Zuordnungsmechanismus für Sprecher und Kommunikationen</td>
         </tr>
         <tr class="bug">
            <td>05.03.2008</td>
            <td>1.01</td>
            <td>in-den-Korb-Buttons repariert</td>
         </tr>
         <tr class="bug">
            <td>05.03.2008</td>
            <td>1.01</td>
            <td>Korb-"Füllstandsanzeige" repariert</td>
         </tr>
         <tr class="bug">
            <td>18.02.2008</td>
            <td>1.0beta3</td>
            <td>Fehler in der Datumsberechnung korrigiert</td>
         </tr>
         <tr class="feature">
            <td>18.02.2008</td>
            <td>1.0beta3</td>
            <td>Eingabemaske für Description zu Korpora</td>
         </tr>
         <tr class="feature">
            <td>18.02.2008</td>
            <td>1.0beta3</td>
            <td>Korpuspanel umsortiert</td>
         </tr>
         <tr class="bug">
            <td>18.02.2008</td>
            <td>1.0beta3</td>
            <td>Korpus-Korb repariert</td>
         </tr>
         <tr class="feature">
            <td>18.02.2008</td>
            <td>1.0beta2</td>
            <td>Schaltfläche für vordefinierte Filter mit 3 Filtern</td>
         </tr>
         <tr class="bug">
            <td>18.02.2008</td>
            <td>1.0beta2</td>
            <td>ComaCreators nullPointerException bei fehlenden Mediendatein gelöscht</td>
         </tr>
         <tr class="bug">
            <td>18.02.2008</td>
            <td>1.0beta2</td>
            <td>funktionslose Buttons für neue Zuordung geschaffen</td>
         </tr>
         <tr class="bug">
            <td>17.02.2008</td>
            <td>1.0beta1</td>
            <td>addlocation bei kommunikationen</td>
         </tr>
         <tr class="bug">
            <td>17.02.2008</td>
            <td>1.0beta1</td>
            <td>sprecher hinzufügen geht wieder</td>
         </tr>
         <tr class="bug">
            <td>17.02.2008</td>
            <td>1.0beta1</td>
            <td>comacreator verknüpft mediendateien richtig</td>
         </tr>
         <tr class="feature">
            <td>17.02.2008</td>
            <td>1.0beta1</td>
            <td>Filter editierbar</td>
         </tr>
         <tr class="feature">
            <td>17.02.2008</td>
            <td>1.0beta1</td>
            <td>(neue) Kommunikationen umbenenbar</td>
         </tr>
         <tr class="feature">
            <td>17.02.2008</td>
            <td>1.0beta1</td>
            <td>speaker löschbar</td>
         </tr>
         <tr class="feature">
            <td>17.02.2008</td>
            <td>1.0beta1</td>
            <td>mehrere comms löschbar</td>
         </tr>
         <tr class="feature">
            <td>05.08.2008</td>
            <td></td>
            <td>added segmentation functionality to the corpus creation wizard</td>
         </tr>
         <tr class="feature">
            <td>04.08.2008</td>
            <td></td>
            <td>added 'Tools &gt; EXAKT Search' function</td>
         </tr>
      </table>
   </body>
</html>