<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="de" xml:lang="de">
<head>
    <link rel="shortcut icon" href="favicon.ico" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>FOLKER: Previews</title>
</head>

<body>

<div id="main">
  <h1 id="top">Previews<br /></h1>
  <hr/>
  <p>Neueste <b>FOLKER</b>-Previews (ab 01.02.2012 mit OrthoNormal):
      <ul>
          <li><b>Datum:</b> September 25 2012 (1103)</li>
          <li><b>Version:</b> 1.2</li>
      </ul>
      Hier ist eine <a href="folker_changes.html">Liste mit allen &Auml;nderungen</a>.
  </p>
  <p>
      <b>Downloads f&uuml;r Windows 98/ME/NT/2000/XPVista</b>
      <ul>
          <li><a href="folker_setup.exe">FOLKER Setup-Datei</a></li>
      </ul>
      <b>Downloads f&uuml;r Intel MAC (MAC OS 10.5 oder sp&auml;ter)</b>
      <ul>
          <li><a href="folker.dmg">FOLKER Disk Image</a></li>
      </ul>
      <b>Downloads for Linux</b>
      <ul>
          <li><a href="EXMARaLDA.tar.gz">Gnuzipped tarball</a></li>
      </ul>
  </p>
  <!-- <hr/>
  <p>Neueste <b>OrthoNormal</b>-Previews:
      <ul>
          <li><b>Datum:</b> September 25 2012 (1103)</li>
          <li><b>Version:</b> 0.6</li>
      </ul>
      Hier ist eine <a href="orthonormal_changes.html">Liste mit allen &Auml;nderungen</a>.
  </p>
  <p>
      <b>Downloads f&uuml;r Windows 98/ME/NT/2000/XPVista</b>
      <ul>
          <li><a href="orthonormal_setup.exe">OrthoNormal Setup-Datei</a></li>
      </ul>
  </p> -->
  <hr/>

  <p>
		<b>GAT keyboard layouts</b>
		<ul>
			<li><a href="GAT-Keyboard-Installation.zip">Setup file f&uuml;r Windows</a></li>
			<li><a href="GAT.keylayout">keylaoyut-Datei f&uuml;r Mac</a></li>
			<li><a href="Dokumentation.pdf">Installationsanweisungen und Dokumentation</a></li>
		</ul>
  </p>
    
  
  
</div>




</body>


</html>
