Dies sind die <b>offiziellen Releases</b> der EXMARaLDA-Tools vom <b>27. April 2017.</b> <br/>
Die Versionsnummern der einzelnen Tools sind 
<b>1.6 (Partitur-Editor)</b>, 
<b>2.0 (COMA)</b>, 
<b>1.3 (EXAKT)</b>, 
<b>1.2 (FOLKER)</b>, 
<b>0.9 (OrthoNormal)</b>. <br/>
Wir veröffentlichen in regelmäßigen Abständen <a href="./vorschau-version">Previews</a> auf die kommende Version,
die gegenüber der aktuellen Version Änderungen, Verbesserungen und Bugfixes enthalten. 
Das letzte Preview stammt vom <b>@DATE@</b>. 
<br/><br/>

<table>
    <tr>
        <td style="text-align: right; border:none;">
            <img src="http://www.exmaralda.org/media/windows64x64.png" alt="windows-logo"/>
        </td>
        <td style="border: none;">
            <a href="http://www.exmaralda.org/files/officialDL/exmaralda_setup.exe">
                EXMARaLDA-Preview für Windows</a><br/>
            <a style="font-size:80%; color:gray;" href="/files/officialDL/EXMARaLDA_on_Windows.pdf">[Hinweise zur Installation unter Windows 8 und höher]</a>           
        </td>
    </tr>
    <tr>
        <td style="text-align: right; border: none;">
            <img src="http://www.exmaralda.org/media/macos64x64.png" alt="macos-logo"/>
        </td>
        <td style="border: none;">
            EXMARaLDA Previews für MacOS: <br/>
            <a  style="font-size:80%; color:gray;" href="/files/officialDL/EXMARaLDA_on_OSX.pdf">[Hinweise zur Installation unter MacOS X]</a>
            <ul>
                <!-- <li><a href="http://www.exmaralda.org/files/prevDL/prev_EXMARaLDA.dmg">Alle EXMARaLDA-Tools in einem Disk Image (Java 1.6 von Apple)</a></li> -->
                
                <li>Partitur-Editor: Disk Image 
                    <a href="http://www.exmaralda.org/files/officialDL/PartiturEditor.dmg">...für Java 1.6 von Apple</a>
                    <span>&nbsp;&#x2022;&nbsp;</span>
                    <a style="font-size:smaller;" href="http://www.exmaralda.org/files/officialDL/PartiturEditor_OJ.dmg">...für Java 1.7 oder neuer von Oracle</a>
                </li>
                <li>Corpus-Manager: Disk Image
                    <a href="http://www.exmaralda.org/files/officialDL/Coma.dmg">...für Java 1.6 von Apple</a>
                    <span>&nbsp;&#x2022;&nbsp;</span>
                    <a style="font-size:smaller;" href="http://www.exmaralda.org/files/officialDL/Coma_OJ.dmg">...für Java 1.7 oder neuer von Oracle</a>                
                </li>
                <li>Exakt: Disk Image
                    <a href="http://www.exmaralda.org/files/officialDL/Exakt.dmg">...für Java 1.6 von Apple</a>
                    <span>&nbsp;&#x2022;&nbsp;</span>
                    <a style="font-size:smaller;" href="http://www.exmaralda.org/files/officialDL/Exakt_OJ.dmg">...für Java 1.7 oder neuer von Oracle</a>                
                </li>
                <li>
                    TEIDrop: DiskImage
                    <a href="http://www.exmaralda.org/files/officialDL/TEIDrop.dmg">... für Java 1.6 von Apple</a>
                    <span>&nbsp;&#x2022;&nbsp;</span>
                    <a style="font-size:smaller;" href="http://www.exmaralda.org/files/officialDL/TEIDrop_OJ.dmg">...für Java 1.7 oder neuer von Oracle</a>
                </li>
                <li>FOLKER: Disk Image
                    <a href="http://www.exmaralda.org/files/officialDL/Folker.dmg">...für Java 1.6 von Apple</a>
                    <span>&nbsp;&#x2022;&nbsp;</span>
                    <a style="font-size:smaller;" href="http://www.exmaralda.org/files/officialDL/Folker_OJ.dmg">...für Java 1.7 oder neuer von Oracle</a>                
                </li>
                <li>OrthoNormal: Disk Image
                    <a href="http://www.exmaralda.org/files/officialDL/OrthoNormal.dmg">...für Java 1.6 von Apple</a>
                    <span>&nbsp;&#x2022;&nbsp;</span>
                    <a style="font-size:smaller;" href="http://www.exmaralda.org/files/officialDL/OrthoNormal_OJ.dmg">...für Java 1.7 oder neuer von Oracle</a>                
                </li>
                
            </ul>
        </td>
    </tr>
    <tr>
        <td style="text-align: right; border: none;">
            <img src="http://www.exmaralda.org/media/linux64x64.png" alt="macos-logo"/>
        </td>
        <td style="border: none;">
            EXMARaLDA Previews für Linux:
            <ul>
                <li><a href="http://www.exmaralda.org/files/officialDL/EXMARaLDA_32bit_FOBSJMF.tar.gz">GnuZipped TarBall, 32bit Java integriert, FOBS JMF</a></li>
                <li><a href="http://www.exmaralda.org/files/officialDL/EXMARaLDA_32bit_SUNJMF.tar.gz">GnuZipped TarBall, 32bit Java integriert, SUN JMF</a></li>
                <li><a href="http://www.exmaralda.org/files/officialDL/EXMARaLDA_64bit_SUNJMF.tar.gz">GnuZipped TarBall, 64bit Java integriert, SUN JMF</a></li>
            </ul>
        </td>
    </tr>
</table>

Wenn Sie die <a href="http://exmaralda.org/de/kontakt/">EXMARaLDA Mailing-Liste</a> abonnieren, 
werden Sie automatisch immer über die Bereitstellung neuer Versionen informiert.

