<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title>OrthoNormal changes</title><style type="text/css">
                                tr, th {
                                font-family: "Courier New", Courier, monospace;
                                font-size: 11px;
                                }

                                .bug {
                                background-color: #FFCCCC;
                                }
                                .feature {
                                background-color: #99DDFF;
                                }
                                .change {
                                background-color: #CCCCCC;
                                }

                </style></head>
   <body>
      <h1>OrthoNormal changes</h1>
      <h2>orthonormal</h2>
      <table rules="all" frame="box" width="600px">
         <tr>
            <th>Date</th>
            <th>Change</th>
         </tr>
         <tr class="change">
            <td style="padding:0.5em;"><b>18.04.2016</b></td>
            <td style="padding:0.5em;">revert to old version of BAS player (MAC)</td>
         </tr>
         <tr class="change">
            <td style="padding:0.5em;"><b>08.04.2016</b></td>
            <td style="padding:0.5em;">revert to old version of BAS player (Windows)</td>
         </tr>
         <tr class="change">
            <td style="padding:0.5em;"><b>06.04.2016</b></td>
            <td style="padding:0.5em;">Updated player preferences handling</td>
         </tr>
         <tr class="bug">
            <td style="padding:0.5em;"><b>30.03.2016</b></td>
            <td style="padding:0.5em;">TEI and TCF exports must retain IDs (methods generateWordIDs())</td>
         </tr>
         <tr class="bug">
            <td style="padding:0.5em;"><b>30.03.2016</b></td>
            <td style="padding:0.5em;">Wrong file filter for TCF export (txt instead of xml)</td>
         </tr>
         <tr class="change">
            <td style="padding:0.5em;"><b>03.03.2016</b></td>
            <td style="padding:0.5em;">Adapted TEI exports (annotationBlock etc.)</td>
         </tr>
         <tr class="change">
            <td style="padding:0.5em;"><b>22.02.2016</b></td>
            <td style="padding:0.5em;">Changes to output variant with normalisations only</td>
         </tr>
         <tr class="feature">
            <td style="padding:0.5em;"><b>29.01.2016</b></td>
            <td style="padding:0.5em;">Output variant with normalisations only</td>
         </tr>
         <tr class="change">
            <td style="padding:0.5em;"><b>07.12.2015</b></td>
            <td style="padding:0.5em;">Table view in match list</td>
         </tr>
         <tr class="change">
            <td style="padding:0.5em;"><b>30.11.2015</b></td>
            <td style="padding:0.5em;">Improvements to directory search</td>
         </tr>
         <tr class="feature">
            <td style="padding:0.5em;"><b>25.11.2015</b></td>
            <td style="padding:0.5em;">Directory search</td>
         </tr>
         <tr class="change">
            <td style="padding:0.5em;"><b>18.11.2015</b></td>
            <td style="padding:0.5em;">Disabled $ dummy symbol since it is no longer used in the conventions</td>
         </tr>
         <tr class="change">
            <td style="padding:0.5em;"><b>06.10.2015</b></td>
            <td style="padding:0.5em;">Build from git: jsmooth path changes for Windows (todo: Mac and Linux)</td>
         </tr>
         <tr class="bug">
            <td style="padding:0.5em;"><b>10.08.2015</b></td>
            <td style="padding:0.5em;">Deadlock in lexicon setup</td>
         </tr>
         <tr class="change">
            <td style="padding:0.5em;"><b>31.07.2015</b></td>
            <td style="padding:0.5em;">Let's be version 0.9 now, splashscreen changed</td>
         </tr>
         <tr class="change">
            <td style="padding:0.5em;"><b>25.07.2015</b></td>
            <td style="padding:0.5em;">More functionality for chat corpus</td>
         </tr>
         <tr class="change">
            <td style="padding:0.5em;"><b>24.07.2015</b></td>
            <td style="padding:0.5em;">First functionality for chat corpus</td>
         </tr>
         <tr class="change">
            <td style="padding:0.5em;"><b>23.07.2015</b></td>
            <td style="padding:0.5em;">Adaptations to lexicon handling in preferences</td>
         </tr>
         <tr class="change">
            <td style="padding:0.5em;"><b>13.05.2015</b></td>
            <td style="padding:0.5em;">Embedded JRE</td>
         </tr>
         <tr class="bug">
            <td style="padding:0.5em;"><b>14.04.2015</b></td>
            <td style="padding:0.5em;">Must escape XML for edit word dialog</td>
         </tr>
         <tr class="change">
            <td style="padding:0.5em;"><b>13.04.2015</b></td>
            <td style="padding:0.5em;">Always use BAS Audio Player</td>
         </tr>
         <tr class="feature">
            <td style="padding:0.5em;"><b>12.03.2015</b></td>
            <td style="padding:0.5em;">TCF export</td>
         </tr>
         <tr class="feature">
            <td style="padding:0.5em;"><b>12.03.2015</b></td>
            <td style="padding:0.5em;">ISO/TEI export</td>
         </tr>
         <tr class="feature">
            <td style="padding:0.5em;"><b>12.03.2015</b></td>
            <td style="padding:0.5em;">Export menu</td>
         </tr>
         <tr class="change">
            <td style="padding:0.5em;"><b>03.03.2015</b></td>
            <td style="padding:0.5em;">Internal Normalisation and Capital-Only Lexicon</td>
         </tr>
         <tr class="change">
            <td style="padding:0.5em;"><b>01.12.2014</b></td>
            <td style="padding:0.5em;">Remove problematic time values before editing contribution (Franziska Wallner)</td>
         </tr>
         <tr class="feature">
            <td style="padding:0.5em;"><b>03.09.2014</b></td>
            <td style="padding:0.5em;">enable bulk changes via wordlist</td>
         </tr>
         <tr class="bug">
            <td style="padding:0.5em;"><b>12.08.2014</b></td>
            <td style="padding:0.5em;">player must be set to idle when stopped</td>
         </tr>
         <tr class="feature">
            <td style="padding:0.5em;"><b>04.08.2014</b></td>
            <td style="padding:0.5em;">enable play buttons in edit contribution dialog (Wiki)</td>
         </tr>
         <tr class="feature">
            <td style="padding:0.5em;"><b>04.08.2014</b></td>
            <td style="padding:0.5em;">OOV filter button (Wiki)</td>
         </tr>
         <tr class="feature">
            <td style="padding:0.5em;"><b>16.07.2014</b></td>
            <td style="padding:0.5em;">auto complete for tag text field (Swantje)</td>
         </tr>
         <tr class="feature">
            <td style="padding:0.5em;"><b>12.05.2014</b></td>
            <td style="padding:0.5em;">default audio path</td>
         </tr>
         <tr class="change">
            <td style="padding:0.5em;"><b>10.03.2014</b></td>
            <td style="padding:0.5em;">dummy button in normalization dialog commits edit directly (JW)</td>
         </tr>
         <tr class="change">
            <td style="padding:0.5em;"><b>26.02.2014</b></td>
            <td style="padding:0.5em;">modified tagset / tag buttons (SW)</td>
         </tr>
         <tr class="feature">
            <td style="padding:0.5em;"><b>18.02.2014</b></td>
            <td style="padding:0.5em;">enable XML mode by password</td>
         </tr>
         <tr class="feature">
            <td style="padding:0.5em;"><b>18.02.2014</b></td>
            <td style="padding:0.5em;">display normalisation ratio</td>
         </tr>
         <tr class="feature">
            <td style="padding:0.5em;"><b>18.02.2014</b></td>
            <td style="padding:0.5em;">filter for split words</td>
         </tr>
         <tr class="bug">
            <td style="padding:0.5em;"><b>29.01.2014</b></td>
            <td style="padding:0.5em;">Catch IllegalArgumentException when resolving media path</td>
         </tr>
         <tr class="bug">
            <td style="padding:0.5em;"><b>28.01.2014</b></td>
            <td style="padding:0.5em;">Remove redundant time elements from DGD2 (Jenny)</td>
         </tr>
         <tr class="bug">
            <td style="padding:0.5em;"><b>21.01.2014</b></td>
            <td style="padding:0.5em;">(Rare) bug in assigning contribution for editing removed (Tabea Mergel)</td>
         </tr>
         <tr class="change">
            <td style="padding:0.5em;"><b>25.11.2013</b></td>
            <td style="padding:0.5em;">more space for edit panel for looong contributions (F.Wallner, GeWiss)</td>
         </tr>
         <tr class="change">
            <td style="padding:0.5em;"><b>06.11.2013</b></td>
            <td style="padding:0.5em;">new quick tag buttons (SW)</td>
         </tr>
         <tr class="change">
            <td style="padding:0.5em;"><b>06.11.2013</b></td>
            <td style="padding:0.5em;">retag after edit contribution (SW)</td>
         </tr>
         <tr class="feature">
            <td style="padding:0.5em;"><b>16.10.2013</b></td>
            <td style="padding:0.5em;">filtering for POS</td>
         </tr>
         <tr class="change">
            <td style="padding:0.5em;"><b>26.08.2013</b></td>
            <td style="padding:0.5em;">fixed (?) another bug in recording path resolving</td>
         </tr>
         <tr class="change">
            <td style="padding:0.5em;"><b>23.07.2013</b></td>
            <td style="padding:0.5em;">better renormalisation after edit contribution</td>
         </tr>
         <tr class="change">
            <td style="padding:0.5em;"><b>18.07.2013</b></td>
            <td style="padding:0.5em;">focus for textfield after dummy button</td>
         </tr>
         <tr class="change">
            <td style="padding:0.5em;"><b>18.07.2013</b></td>
            <td style="padding:0.5em;">some minor corrections to match list functionality</td>
         </tr>
         <tr class="feature">
            <td style="padding:0.5em;"><b>09.07.2013</b></td>
            <td style="padding:0.5em;">match list</td>
         </tr>
         <tr class="feature">
            <td style="padding:0.5em;"><b>08.05.2013</b></td>
            <td style="padding:0.5em;">dummy buttons</td>
         </tr>
         <tr class="feature">
            <td style="padding:0.5em;"><b>18.04.2013</b></td>
            <td style="padding:0.5em;">Change speaker functionality</td>
         </tr>
         <tr class="feature">
            <td style="padding:0.5em;"><b>18.04.2013</b></td>
            <td style="padding:0.5em;">Edit contribution functionality</td>
         </tr>
         <tr class="bug">
            <td style="padding:0.5em;"><b>19.02.2013</b></td>
            <td style="padding:0.5em;">No Derewo marking when opening FLK files</td>
         </tr>
         <tr class="bug">
            <td style="padding:0.5em;"><b>07.01.2013</b></td>
            <td style="padding:0.5em;">No Derewo marking when opening FLK files</td>
         </tr>
         <tr class="feature">
            <td style="padding:0.5em;"><b>19.12.2012</b></td>
            <td style="padding:0.5em;">Use Derewo to mark suspicious forms</td>
         </tr>
         <tr class="feature">
            <td style="padding:0.5em;"><b>22.11.2012</b></td>
            <td style="padding:0.5em;">Filter for word list</td>
         </tr>
         <tr class="feature">
            <td style="padding:0.5em;"><b>20.11.2012</b></td>
            <td style="padding:0.5em;">Bookmarks</td>
         </tr>
         <tr class="bug">
            <td style="padding:0.5em;"><b>06.11.2012</b></td>
            <td style="padding:0.5em;">index update issue in XML mode</td>
         </tr>
         <tr class="feature">
            <td style="padding:0.5em;"><b>31.10.2012</b></td>
            <td style="padding:0.5em;">First Linux Preview</td>
         </tr>
         <tr class="feature">
            <td style="padding:0.5em;"><b>31.10.2012</b></td>
            <td style="padding:0.5em;">First Mac Preview</td>
         </tr>
         <tr class="change">
            <td style="padding:0.5em;"><b>25.10.2012</b></td>
            <td style="padding:0.5em;">Info about parse-level when opening FLK</td>
         </tr>
         <tr class="feature">
            <td style="padding:0.5em;"><b>02.10.2012</b></td>
            <td style="padding:0.5em;">XML mode</td>
         </tr>
         <tr class="feature">
            <td style="padding:0.5em;"><b>21.09.2012</b></td>
            <td style="padding:0.5em;">word correction dialog</td>
         </tr>
         <tr class="change">
            <td style="padding:0.5em;"><b>12.09.2012</b></td>
            <td style="padding:0.5em;">buttons for quick tagging</td>
         </tr>
         <tr class="change">
            <td style="padding:0.5em;"><b>12.09.2012</b></td>
            <td style="padding:0.5em;">Some adaptations for legacy DGD1 transcripts</td>
         </tr>
         <tr class="change">
            <td style="padding:0.5em;"><b>12.09.2012</b></td>
            <td style="padding:0.5em;">Remove normalisations which are identical to forms when opening</td>
         </tr>
         <tr class="change">
            <td style="padding:0.5em;"><b>06.06.2012</b></td>
            <td style="padding:0.5em;">Include Linux-Shellscript in preview distribution (Piotr Banski)</td>
         </tr>
         <tr class="change">
            <td style="padding:0.5em;"><b>06.06.2012</b></td>
            <td style="padding:0.5em;">Tolerate missing p-pos in table</td>
         </tr>
         <tr class="feature">
            <td style="padding:0.5em;"><b>30.05.2012</b></td>
            <td style="padding:0.5em;">RDB Lexicon Update action</td>
         </tr>
         <tr class="change">
            <td style="padding:0.5em;"><b>30.05.2012</b></td>
            <td style="padding:0.5em;">Removed Auto Normalize button</td>
         </tr>
         <tr class="change">
            <td style="padding:0.5em;"><b>09.05.2012</b></td>
            <td style="padding:0.5em;">More keyboard support (down key) for forms list in normalization dialog</td>
         </tr>
         <tr class="change">
            <td style="padding:0.5em;"><b>09.05.2012</b></td>
            <td style="padding:0.5em;">No live lexicon update / no single auto normalize for RDB lexicon</td>
         </tr>
         <tr class="feature">
            <td style="padding:0.5em;"><b>26.04.2012</b></td>
            <td style="padding:0.5em;">Tag probabilities</td>
         </tr>
         <tr class="feature">
            <td style="padding:0.5em;"><b>21.03.2012</b></td>
            <td style="padding:0.5em;">Auto advance option</td>
         </tr>
         <tr class="bug">
            <td style="padding:0.5em;"><b>28.03.2012</b></td>
            <td style="padding:0.5em;">File extension checks for opening must not be case-sensitive</td>
         </tr>
         <tr class="feature">
            <td style="padding:0.5em;"><b>21.03.2012</b></td>
            <td style="padding:0.5em;">Auto normalization option for new files</td>
         </tr>
         <tr class="feature">
            <td style="padding:0.5em;"><b>20.03.2012</b></td>
            <td style="padding:0.5em;">Capitalization lexicon integrated</td>
         </tr>
         <tr class="feature">
            <td style="padding:0.5em;"><b>09.03.2012</b></td>
            <td style="padding:0.5em;">Tagging functionality</td>
         </tr>
         <tr class="feature">
            <td style="padding:0.5em;"><b>01.06.2011</b></td>
            <td style="padding:0.5em;">Adaptations for basic transcriptions</td>
         </tr>
         <tr class="bug">
            <td style="padding:0.5em;"><b>01.06.2011</b></td>
            <td style="padding:0.5em;">Cancel in check save must cancel, not close</td>
         </tr>
         <tr class="change">
            <td style="padding:0.5em;"><b>01.06.2011</b></td>
            <td style="padding:0.5em;">Player displays complete recording, selection only changes cursor position</td>
         </tr>
         <tr class="change">
            <td style="padding:0.5em;"><b>20.05.2011</b></td>
            <td style="padding:0.5em;">Extra second before and after selection in audio player (WS: oc)</td>
         </tr>
         <tr class="change">
            <td style="padding:0.5em;"><b>20.05.2011</b></td>
            <td style="padding:0.5em;">Ctrl + Right click on word will remove normalization (WS: mail 19-05-2011)</td>
         </tr>
         <tr class="change">
            <td style="padding:0.5em;"><b>20.05.2011</b></td>
            <td style="padding:0.5em;">Right click on word will (de)capitalize it (WS: mail 19-05-2011)</td>
         </tr>
         <tr class="feature">
            <td style="padding:0.5em;"><b>20.05.2011</b></td>
            <td style="padding:0.5em;">Edit recording action in file menu (WS: mail 19-05-2011)</td>
         </tr>
         <tr class="feature">
            <td style="padding:0.5em;"><b>12.11.2010</b></td>
            <td style="padding:0.5em;">Exit action in file menu (WS: n)</td>
         </tr>
         <tr class="change">
            <td style="padding:0.5em;"><b>12.11.2010</b></td>
            <td style="padding:0.5em;">Modified save behaviour (WS: k)</td>
         </tr>
         <tr class="feature">
            <td style="padding:0.5em;"><b>12.11.2010</b></td>
            <td style="padding:0.5em;">Play button and audio position slider (WS: h)</td>
         </tr>
         <tr class="change">
            <td style="padding:0.5em;"><b>12.11.2010</b></td>
            <td style="padding:0.5em;">Scroll bar for editing panel (WS: g)</td>
         </tr>
         <tr class="feature">
            <td style="padding:0.5em;"><b>12.11.2010</b></td>
            <td style="padding:0.5em;">Audio can be rassigned (WS: a)</td>
         </tr>
         <tr class="change">
            <td style="padding:0.5em;"><b>11.11.2010</b></td>
            <td style="padding:0.5em;">Added some status messages (WS: e)</td>
         </tr>
         <tr class="feature">
            <td style="padding:0.5em;"><b>11.11.2010</b></td>
            <td style="padding:0.5em;">Keyboard shortcuts for Play selection and stop as in FOLKER (WS: f)</td>
         </tr>
         <tr class="change">
            <td style="padding:0.5em;"><b>11.11.2010</b></td>
            <td style="padding:0.5em;">Don't add FLK files to recent files (WS: d)</td>
         </tr>
         <tr class="feature">
            <td style="padding:0.5em;"><b>11.11.2010</b></td>
            <td style="padding:0.5em;">Implemented double-click behaviour for application startup (WS: c)</td>
         </tr>
         <tr class="change">
            <td style="padding:0.5em;"><b>11.11.2010</b></td>
            <td style="padding:0.5em;">Introduced threshhold for auto normalisation (WS: b)</td>
         </tr>
         <tr class="bug">
            <td style="padding:0.5em;"><b>11.11.2010</b></td>
            <td style="padding:0.5em;">Changed buggy behaviour when empty string was entered in normalization dialog (WS: j)</td>
         </tr>
         <tr class="change">
            <td style="padding:0.5em;"><b>28.09.2010</b></td>
            <td style="padding:0.5em;">Editor setup optimised</td>
         </tr>
         <tr class="feature">
            <td style="padding:0.5em;"><b>28.09.2010</b></td>
            <td style="padding:0.5em;">Output action</td>
         </tr>
         <tr class="change">
            <td style="padding:0.5em;"><b>28.09.2010</b></td>
            <td style="padding:0.5em;">Exception handling for Lexicon lookup</td>
         </tr>
         <tr class="change">
            <td style="padding:0.5em;"><b>28.09.2010</b></td>
            <td style="padding:0.5em;">Oracle JDBC driver added</td>
         </tr>
         <tr class="change">
            <td style="padding:0.5em;"><b>23.09.2010</b></td>
            <td style="padding:0.5em;">Capitalization removed</td>
         </tr>
         <tr class="change">
            <td style="padding:0.5em;"><b>23.09.2010</b></td>
            <td style="padding:0.5em;">Several changes related to GUI updating</td>
         </tr>
         <tr class="feature">
            <td style="padding:0.5em;"><b>23.09.2010</b></td>
            <td style="padding:0.5em;">Help menu</td>
         </tr>
         <tr class="feature">
            <td style="padding:0.5em;"><b>23.09.2010</b></td>
            <td style="padding:0.5em;">Preferences action</td>
         </tr>
         <tr class="change">
            <td style="padding:0.5em;"><b>23.09.2010</b></td>
            <td style="padding:0.5em;">different implementation of RDB lexicon</td>
         </tr>
         <tr class="feature">
            <td style="padding:0.5em;"><b>11.04.2010</b></td>
            <td style="padding:0.5em;">auto button</td>
         </tr>
         <tr class="feature">
            <td style="padding:0.5em;"><b>10.04.2010</b></td>
            <td style="padding:0.5em;">word list</td>
         </tr>
         <tr class="feature">
            <td style="padding:0.5em;"><b>22.03.2010</b></td>
            <td style="padding:0.5em;">First build of first prototype</td>
         </tr>
      </table>
   </body>
</html>