These are <b>previews</b> for the next official version of EXMARaLDA. 
They contain changes, enhancements, bug fixes to the latest official EXMARaLDA version.<br/><br/>
<table>
    <tr>
        <td style="text-align: right; border:none;">
            <img src="http://www.exmaralda.org/media/windows64x64.png" alt="windows-logo"/>
        </td>
        <td style="border: none;">
            <a href="http://www.exmaralda.org/files/prevDL/prev_exmaralda_setup.exe">
                EXMARaLDA preview for Windows</a><br/>
            <a style="font-size:80%; color:gray;" href="/files/prevDL/EXMARaLDA_on_Windows.pdf">[notes for installation on Windows 8 or higher]</a>           
        </td>
    </tr>
    <tr>
        <td style="text-align: right; border: none;">
            <img src="http://www.exmaralda.org/media/macos64x64.png" alt="macos-logo"/>
        </td>
        <td style="border: none;">
            EXMARaLDA previews for MacOS: <br/>
            <a  style="font-size:80%; color:gray;" href="/files/prevDL/EXMARaLDA_on_OSX.pdf">[notes for installation on MacOS X]</a>
            <ul>
                <!-- <li><a href="http://www.exmaralda.org/files/prevDL/prev_EXMARaLDA.dmg">All EXMARaLDA applications in one disk image (Apple's Java 1.6)</a></li> -->
                
                <li>Partitur-Editor: Disk Image 
                    <a href="http://www.exmaralda.org/files/prevDL/PartiturEditor.dmg">...for Apple's Java 1.6</a>
                    <span>&nbsp;&#x2022;&nbsp;</span>
                    <a style="font-size:smaller;" href="http://www.exmaralda.org/files/prevDL/PartiturEditor_OJ.dmg">...for Oracle's Java 1.7 or higher</a>
                </li>
                <li>Corpus-Manager: Disk Image
                    <a href="http://www.exmaralda.org/files/prevDL/Coma.dmg">...for Apple's Java 1.6</a>
                    <span>&nbsp;&#x2022;&nbsp;</span>
                    <a style="font-size:smaller;" href="http://www.exmaralda.org/files/prevDL/Coma_OJ.dmg">...for Oracle's Java 1.7 or higher</a>                
                </li>
                <li>Exakt: Disk Image
                    <a href="http://www.exmaralda.org/files/prevDL/Exakt.dmg">...for Apple's Java 1.6</a>
                    <span>&nbsp;&#x2022;&nbsp;</span>
                    <a style="font-size:smaller;" href="http://www.exmaralda.org/files/prevDL/Exakt_OJ.dmg">...for Oracle's Java 1.7 or higher</a>                
                </li>
                <li>TEIDrop: Disk Image
                    <a href="http://www.exmaralda.org/files/prevDL/TEIDrop.dmg">...for Apple's Java 1.6</a>
                    <span>&nbsp;&#x2022;&nbsp;</span>
                    <a  style="font-size:smaller;" href="http://www.exmaralda.org/files/prevDL/TEIDrop_OJ.dmg">...for Oracles's Java 1.7 or higher</a>
                </li>
                <li>FOLKER: Disk Image
                    <a href="http://www.exmaralda.org/files/prevDL/Folker.dmg">...for Apple's Java 1.6</a>
                    <span>&nbsp;&#x2022;&nbsp;</span>
                    <a style="font-size:smaller;" href="http://www.exmaralda.org/files/prevDL/Folker_OJ.dmg">...for Oracle's Java 1.7 or higher</a>                
                </li>
                <li>OrthoNormal: Disk Image
                    <a href="http://www.exmaralda.org/files/prevDL/OrthoNormal.dmg">...for Apple's Java 1.6</a>
                    <span>&nbsp;&#x2022;&nbsp;</span>
                    <a style="font-size:smaller;" href="http://www.exmaralda.org/files/prevDL/OrthoNormal_OJ.dmg">...for Oracle's Java 1.7 or higher</a>                
                </li>
                
            </ul>
        </td>
    </tr>
    <tr>
        <td style="text-align: right; border: none;">
            <img src="http://www.exmaralda.org/media/linux64x64.png" alt="macos-logo"/>
        </td>
        <td style="border: none;">
            EXMARaLDA previews for Linux:
            <ul>
                <li><a href="http://www.exmaralda.org/files/prevDL/prev_EXMARaLDA_32bit_FOBSJMF.tar.gz">GnuZipped TarBall, 32bit Java embedded, FOBS JMF</a></li>
                <li><a href="http://www.exmaralda.org/files/prevDL/prev_EXMARaLDA_32bit_SUNJMF.tar.gz">GnuZipped TarBall, 32bit Java embedded, SUN JMF</a></li>
                <li><a href="http://www.exmaralda.org/files/prevDL/prev_EXMARaLDA_64bit_SUNJMF.tar.gz">GnuZipped TarBall, 64bit Java embedded, SUN JMF</a></li>
            </ul>
        </td>
    </tr>
</table>
The latest previews were uploaded on <b>@DATE@</b>. <br/>
Current version number are 
<b>@PARTITUR-EDITOR-VERSION@ (Partitur-Editor)</b>, 
<b>@COMA-VERSION@ (COMA)</b>, 
<b>@EXAKT-VERSION@ (EXAKT)</b>,
<b>@FOLKER-VERSION@ (FOLKER)</b>,
<b>@ORTHONORMAL-VERSION@ (OrthoNormal)</b>. <br/>
<a href="http://www.exmaralda.org/files/changes.html">You can view all changes here.</a><br/>
If you subscribe to the <a href="http://exmaralda.org/en/contact/">EXMARaLDA Mailing List</a>, 
you will be automatically informed about the availability of new official versions of the EXMARaLDA system.<br/>
