
<p>Dies sind <b>Previews</b> (Vorabversionen) der nächsten offiziellen EXMARaLDA-Version. 
Sie enthalten Änderungen, Verbesserungen und Bugfixes für die letzte offizielle EXMARaLDA-Version.</p>

<p style="background: yellow; font-size:smaller; padding: 15px;">
    Bitte beachten Sie: die aktuellen Previews für Windows und MAC OS sind <b>neue Distributionen für 64bit Systeme / Java 11+ / OpenJDK.</b>
    Die MAC-Versionen sind unter <b>MAC OS 10.15 (Catalina)</b> lauffähig. In diesen Versionen gibt es viele grundlegende Änderungen, u.a. an den 
    Media-Playern. Die Versionen sind mehrfach getestet, können aber dennoch Fehler enthalten. Wir freuen uns über Testberichte an 
    exmaralda-support AT uni-hamburg.de.
</p>
<table>
    <tr>
        <td style="text-align: right; border:none;">
            <img src="http://www.exmaralda.org/media/windows64x64.png" alt="windows-logo"/>
        </td>
        <td style="border: none;">
            <a href="http://www.exmaralda.org/files/prevDL/prev_exmaralda_setup.exe">
                EXMARaLDA-Preview für Windows</a><br/>
            <a style="font-size:80%; color:gray;" href="/files/prevDL/EXMARaLDA_on_Windows.pdf">[Hinweise zur Installation unter Windows 8 und höher]</a>           
        </td>
    </tr>
    <tr>
        <td style="text-align: right; border: none;">
            <img src="http://www.exmaralda.org/media/macos64x64.png" alt="macos-logo"/>
        </td>
        <td style="border: none;">
            EXMARaLDA Previews für MacOS: <br/>
            <ul>
                <li>Partitur-Editor: <a href="http://www.exmaralda.org/files/prevDL/PartiturEditor.dmg">Disk Image</a></li>
                <li>Corpus-Manager: <a href="http://www.exmaralda.org/files/prevDL/Coma.dmg">Disk Image</a></li>
                <li>Exakt: <a href="http://www.exmaralda.org/files/prevDL/Exakt.dmg">Disk Image</a></li>
                <li>FOLKER: <a href="http://www.exmaralda.org/files/prevDL/Folker.dmg">Disk Image</a></li>
                <li>OrthoNormal: <a href="http://www.exmaralda.org/files/prevDL/OrthoNormal.dmg">Disk Image</a></li>
                <li>TEIDrop: <a href="http://www.exmaralda.org/files/prevDL/TeiDrop.dmg">DiskImage</a></li>
            </ul>
        </td>
    </tr>
    <tr>
        <td style="text-align: right; border: none;">
            <img src="http://www.exmaralda.org/media/linux64x64.png" alt="macos-logo"/>
        </td>
        <td style="border: none;">
            EXMARaLDA Previews für Linux:
            <ul>
                <li><a href="http://www.exmaralda.org/files/prevDL/prev_EXMARaLDA_32bit_FOBSJMF.tar.gz">GnuZipped TarBall, 32bit Java integriert, FOBS JMF</a></li>
                <li><a href="http://www.exmaralda.org/files/prevDL/prev_EXMARaLDA_32bit_SUNJMF.tar.gz">GnuZipped TarBall, 32bit Java integriert, SUN JMF</a></li>
                <li><a href="http://www.exmaralda.org/files/prevDL/prev_EXMARaLDA_64bit_SUNJMF.tar.gz">GnuZipped TarBall, 64bit Java integriert, SUN JMF</a></li>
            </ul>
            <p style="background: yellow; font-size:smaller; padding: 15px;">
                These are new experimental distributions for Linux (see <a target="_blank" href="https://github.com/Exmaralda-Org/exmaralda/issues/238">issue #238</a>). Use at your own risk:                
            </p>
            <ul>
                <li><a href="https://www.exmaralda.org/files/prevDL/partitureditor_1.7-1_amd64.deb">*.deb package, created with jpackage, for the Partitur-Editor</a></li>
                <li><a href="http://www.exmaralda.org/files/prevDL/EXMARaLDA_64bit_JDK_11.tar.gz">GnuZipped TarBall, 64bit Open SDK 11 integrated</a></li>
            </ul>
            
        </td>
    </tr>
    
</table>
Die neuesten Previews wurden am <b>@DATE@</b> hochgeladen. <br/>
Aktuelle Versionsnummern sind 
<b>@PARTITUR-EDITOR-VERSION@ (Partitur-Editor)</b>, 
<b>@COMA-VERSION@ (COMA)</b>, 
<b>@EXAKT-VERSION@ (EXAKT)</b>,
<b>@FOLKER-VERSION@ (FOLKER)</b>,
<b>@ORTHONORMAL-VERSION@ (OrthoNormal)</b>. <br/>
<a href="http://www.exmaralda.org/files/changes.html">Hier ist ein Überblick über alle Änderungen. </a><br/>


<!-- Wenn Sie die <a href="http://exmaralda.org/de/kontakt/">EXMARaLDA Mailing-Liste</a> abonnieren, werden Sie automatisch über die Bereitstellung neuer Versionen informiert. -->
