Dies sind <b>Previews</b> (Vorabversionen) der nächsten offiziellen EXMARaLDA-Version. 
Sie enthalten Änderungen, Verbesserungen und Bugfixes für die letzte offizielle EXMARaLDA-Version.<br/><br/>
<table>
    <tr>
        <td style="text-align: right; border:none;">
            <img src="http://www.exmaralda.org/media/windows64x64.png" alt="windows-logo"/>
        </td>
        <td style="border: none;">
            <a href="http://www.exmaralda.org/files/prevDL/prev_exmaralda_setup.exe">
                EXMARaLDA-Preview für Windows</a><br/>
            <a style="font-size:80%; color:gray;" href="/files/prevDL/EXMARaLDA_on_Windows.pdf">[Hinweise zur Installation unter Windows 8 und höher]</a>           
        </td>
    </tr>
    <tr>
        <td style="text-align: right; border: none;">
            <img src="http://www.exmaralda.org/media/macos64x64.png" alt="macos-logo"/>
        </td>
        <td style="border: none;">
            EXMARaLDA Previews für MacOS: <br/>
            <a  style="font-size:80%; color:gray;" href="/files/prevDL/EXMARaLDA_on_OSX.pdf">[Hinweise zur Installation unter MacOS X]</a>
            <ul>
                <!-- <li><a href="http://www.exmaralda.org/files/prevDL/prev_EXMARaLDA.dmg">Alle EXMARaLDA-Tools in einem Disk Image (Java 1.6 von Apple)</a></li> -->
                
                <li>Partitur-Editor: Disk Image 
                    <a href="http://www.exmaralda.org/files/prevDL/PartiturEditor.dmg">...für Java 1.6 von Apple</a>
                    <span>&nbsp;&#x2022;&nbsp;</span>
                    <a style="font-size:smaller;" href="http://www.exmaralda.org/files/prevDL/PartiturEditor_OJ.dmg">...für Java 1.7 oder neuer von Oracle</a>
                </li>
                <li>Corpus-Manager: Disk Image
                    <a href="http://www.exmaralda.org/files/prevDL/Coma.dmg">...für Java 1.6 von Apple</a>
                    <span>&nbsp;&#x2022;&nbsp;</span>
                    <a style="font-size:smaller;" href="http://www.exmaralda.org/files/prevDL/Coma_OJ.dmg">...für Java 1.7 oder neuer von Oracle</a>                
                </li>
                <li>Exakt: Disk Image
                    <a href="http://www.exmaralda.org/files/prevDL/Exakt.dmg">...für Java 1.6 von Apple</a>
                    <span>&nbsp;&#x2022;&nbsp;</span>
                    <a style="font-size:smaller;" href="http://www.exmaralda.org/files/prevDL/Exakt_OJ.dmg">...für Java 1.7 oder neuer von Oracle</a>                
                </li>
                <li>
                    TEIDrop: DiskImage
                    <a href="http://www.exmaralda.org/files/prevDL/TEIDrop.dmg">... für Java 1.6 von Apple</a>
                    <span>&nbsp;&#x2022;&nbsp;</span>
                    <a style="font-size:smaller;" href="http://www.exmaralda.org/files/prevDL/TEIDrop_OJ.dmg">...für Java 1.7 oder neuer von Oracle</a>
                </li>
                <li>FOLKER: Disk Image
                    <a href="http://www.exmaralda.org/files/prevDL/Folker.dmg">...für Java 1.6 von Apple</a>
                    <span>&nbsp;&#x2022;&nbsp;</span>
                    <a style="font-size:smaller;" href="http://www.exmaralda.org/files/prevDL/Folker_OJ.dmg">...für Java 1.7 oder neuer von Oracle</a>                
                </li>
                <li>OrthoNormal: Disk Image
                    <a href="http://www.exmaralda.org/files/prevDL/OrthoNormal.dmg">...für Java 1.6 von Apple</a>
                    <span>&nbsp;&#x2022;&nbsp;</span>
                    <a style="font-size:smaller;" href="http://www.exmaralda.org/files/prevDL/OrthoNormal_OJ.dmg">...für Java 1.7 oder neuer von Oracle</a>                
                </li>
                
            </ul>
        </td>
    </tr>
    <tr>
        <td style="text-align: right; border: none;">
            <img src="http://www.exmaralda.org/media/linux64x64.png" alt="macos-logo"/>
        </td>
        <td style="border: none;">
            EXMARaLDA Previews für Linux:
            <ul>
                <li><a href="http://www.exmaralda.org/files/prevDL/prev_EXMARaLDA_32bit_FOBSJMF.tar.gz">GnuZipped TarBall, 32bit Java integriert, FOBS JMF</a></li>
                <li><a href="http://www.exmaralda.org/files/prevDL/prev_EXMARaLDA_32bit_SUNJMF.tar.gz">GnuZipped TarBall, 32bit Java integriert, SUN JMF</a></li>
                <li><a href="http://www.exmaralda.org/files/prevDL/prev_EXMARaLDA_64bit_SUNJMF.tar.gz">GnuZipped TarBall, 64bit Java integriert, SUN JMF</a></li>
            </ul>
        </td>
    </tr>
</table>
Die neuesten Previews wurden am <b>@DATE@</b> hochgeladen. <br/>
Aktuelle Versionsnummern sind 
<b>@PARTITUR-EDITOR-VERSION@ (Partitur-Editor)</b>, 
<b>@COMA-VERSION@ (COMA)</b>, 
<b>@EXAKT-VERSION@ (EXAKT)</b>,
<b>@FOLKER-VERSION@ (FOLKER)</b>,
<b>@ORTHONORMAL-VERSION@ (OrthoNormal)</b>. <br/>
<a href="http://www.exmaralda.org/files/changes.html">Hier ist ein Überblick über alle Änderungen. </a><br/>
Wenn Sie die <a href="http://exmaralda.org/de/kontakt/">EXMARaLDA Mailing-Liste</a> abonnieren, werden Sie automatisch über die Bereitstellung neuer Versionen informiert.
