<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="de" xml:lang="de">
<head>
<link rel="shortcut icon" href="favicon.ico" />




<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="keywords" lang="de" xml:lang="de" content="Transkription, Annotation, Transkiptionswerkzeug, Software, Korpus, Mehrsprachige Daten" />
<title>EXMARaLDA: Downloads</title>
<link href="exmaralda.css" rel="stylesheet" type="text/css" media="screen" />
<link href="print.css" rel="stylesheet" type="text/css" media="print" />
<link href="mobile.css" rel="stylesheet" type="text/css" media="handheld" /></head>

<body>
<!--#include file="nav.inc" -->

<div id="main">
  <div style="border:1px #C4CBB7 solid; color: #000000; background-color: #EEE0B7;">Um über aktuelle Versionen auf dem Laufenden gehalten zu werden, abbonieren Sie bitte die <a href="https://mailman.rrz.uni-hamburg.de/mailman/listinfo/exmaralda">EXMARaLDA Mailingliste</a></div>

  <h1 id="top">Downloads<br /></h1>
  <p>Folgende Downloads stehen zur Verf&uuml;gung (Datum: @DATE@):</p>
  <ul>
  	<li><a href="#tools">Werkzeuge des EXMARaLDA-Systems</a> (auf dieser Seite finden Sie die aktuellen offiziellen Releases. Auf der 
  	<a href="previews2.html">Previews-Seite</a> werden regelm&auml;&szlig; Vorabversionen der kommenden Versionen ver&ouml;ffentlicht.)
    <ul>
		<li><a href="#pe">Partitur-Editor</a></li>
		<li><a href="#coma">Corpus-Manager</a></li>
		<li><a href="#exakt">Suchwerkzeug EXAKT</a></li>
		<li><a href="#pre">Fr&uuml;here Versionen der EXMARaLDA-Werkzeuge</a></li>
		<li><a href="#java">Java-Zubeh&ouml;r</a></li>
  	</ul>
    </li>
    <li><a href="#utils">Zubeh&ouml;r zum Arbeiten mit EXMARaLDA</a>
    <ul>
		<li><a href="#xsl">Stylesheets f&uuml;r EXMARaLDA</a></li>
		<li><a href="#key">Tastatur-Belegungen für das Transkribieren nach HIAT und IPA</a></li>
		<li><a href="#mac">Apple Scripts zum Auslesen von syncWRITER-Daten</a></li>
  	</ul>
    </li>
    <li><a href="#other">Sonstige XML-Komponenten des EXMARaLDA-Systems</a>
    <ul>
		<li><a href="#dtd">&quot;Document Type Definitions&quot; (DTDs) und XML-Schemata</a></li>
		<li><a href="#keyex">Tastaturbelegungen f&uuml;r die virtuelle Tastatur des Partitur-Editors</a></li>
		<li><a href="#fsmex">Endliche Maschinen f&uuml;r die Segmentierung</a></li>
      </ul>
    </li>
    <li><a href="#othertools">Andere Werkzeuge
      </a>
      <ul>
        <li><a href="#teide">TEI Document Explorer (TEIDE)</a></li>
        <li><a href="#z2tagger">Z2-Tagger</a></li>
      </ul>
    </li>
  </ul>
  <hr/>
  <h2 id="tools">Werkzeuge des EXMARaLDA-Systems</h2>
  <div class="block">
  <h2><img src="images/logo-windows.gif"/>Windows XP/Windows Vista/Windows 7</h2>
  <ul>
    <li> <a href="files/@EXMARALDA-VERSION@/exmaralda_setup.exe" name="all-win" title="Installationsprogramm für den alle Werkzeuge" id="all-win">Installationsdatei </a> f&uuml;r alle Werkzeuge
      (Partitur-Editor @PARTITUR-EDITOR-VERSION@, Coma @COMA-VERSION@, EXAKT @EXAKT-VERSION@) f&uuml;r  Microsoft Windows 98/ME/NT/2000/XP/Vista </li>
  </ul>
  </div><br />
  <div class="block">
  <h2><img src="images/logo-linux.gif"/> Linux/Unix/BSD</h2>
  <ul>
    <li><a href="files/@EXMARALDA-VERSION@/EXMARaLDA.tar.gz" name="all-unix" id="all-unix">Gnuzipped tar ball</a> mit allen Werkzeugen
      (Partitur-Editor @PARTITUR-EDITOR-VERSION@, Coma @COMA-VERSION@, EXAKT @EXAKT-VERSION@)</li>
  </ul>
</div><br />
  <div class="block">
  <h2><img src="images/osx.jpg" alt="osx" width="32" height="32" />Mac OS X</h2>
  <p>Für Mac OS X liegen die Programme als Einzeldistributionen vor:</p>
  <h4 id="pe" style="padding-bottom: 10px;	background: url(images/pe.png) no-repeat 0 0;	padding-left: 36px;">Partitur-Editor</h4>
  <ul>
    <li><a name="pe-mac-power" title="Installationsprogramm f&uuml;r den Partitur-Editor" href="files/@EXMARALDA-VERSION@/PartiturEditor_PPC.dmg">Partitur-Editor @PARTITUR-EDITOR-VERSION@ f&uuml;r Mac&nbsp;OS X&nbsp;(Power PC)</a></li>
    <li><a name="pe-mac-intel" title="Installationsprogramm f&uuml;r den Partitur-Editor" href="files/@EXMARALDA-VERSION@/PartiturEditor.dmg">Partitur-Editor @PARTITUR-EDITOR-VERSION@ f&uuml;r Mac&nbsp;OS X&nbsp;(Intel PC)</a></li>
  </ul>
  <h4 id="coma" style="padding-bottom: 10px; background: url(images/coma.png) no-repeat 0 0;	padding-left: 36px;">Corpus-Manager</h4>
  <ul> 
  	<li><a name="cm-mac" href="files/@EXMARALDA-VERSION@/Coma.dmg">Coma @COMA-VERSION@ für Mac OS</a> (.dmg; Mac OS &gt;10.5.2, Java 6)</li>
  </ul>
  <h4 id="exakt" style="padding-bottom: 10px; background: url(images/exakt.png) no-repeat 0 0; padding-left: 36px;">Suchwerkzeug EXAKT</h4>
  <ul>
    <li><a name="ex-mac" title="Macintosh application EXAKT" href="files/@EXMARALDA-VERSION@/Exakt_PPC.dmg">EXAKT @EXAKT-VERSION@ f&uuml;r Mac&nbsp;OS X&nbsp;(Power PC)</a></li>
    <li><a name="ex-mac" title="Macintosh application EXAKT" href="files/@EXMARALDA-VERSION@/Exakt.dmg">EXAKT @EXAKT-VERSION@ f&uuml;r Mac&nbsp;OS X&nbsp;(Intel PC)</a></li>
  </ul>
  </div>
  <h2 id="pre">Fr&uuml;here Versionen der EXMARaLDA-Werkzeuge</h2>
  <ul>
  	<li>
    <a href="files/zecke.jar">Suchwerkzeug Zecke 0.2 (jar-Datei)</a>
    </li>
    <li>
    <a href="files/coma0.3.9SR1.jar">Corpus Manager 0.3.9</a> (letzte Version f&uuml;r Java 1.4) 
    </li>
  </ul>
  
  <h2 id="java">Java-Zubeh&ouml;r</h2>
  <ul>
	<li>
		<a href="http://jdl.sun.com/webapps/getjava/BrowserRedirect?locale=de&host=www.java.com:80">Java Runtime Environment (f&uuml;r Windows, Linux und Unix)</a>
	</li>
	<li>
		<a href="http://java.sun.com/products/java-media/jmf/2.1.1/download.html">Java Media Framework (f&uuml;r alle Betriebssysteme)</a>
	</li>
	<li>
		<a href="http://java.sun.com/products/java-media/jmf/mp3/download.html">Java MP3 Plugin (f&uuml;r alle Betriebssysteme)</a>
	</li>
  </ul>
  
  <hr/>
  
  <h2 id="utils">Zubeh&ouml;r zum Arbeiten mit EXMARaLDA</h2>
  
  <h3 id="xsl">Stylesheets f&uuml;r EXMARaLDA</h3>
  
  <ul>
  	<li>zum Generieren einer Basis-Transkription aus einer Sprechertabelle
  	<ul>
		<li>
			<a href="files/HIAT_Spktbl2BT_V_AKZ_K_SUP_NN.xsl">HIAT Basis-Transkription aus Sprechertabelle</a>
		</li>
		<li>
			<a href="files/DIDA_Spktbl2BT.xsl">DIDA Basis-Transkription aus Sprechertabelle</a>		
		</li>
  	</ul>
    </li>
    <li>zum Generieren einer Formatierungstabelle aus einer Transkription
    <ul>
		<li>
			<a href="files/HIAT_FormatTable4BasicTranscription.xsl">HIAT-Formatierungstabelle aus Basis-Transkription</a>					
		</li>
		<li>
			<a href="files/PAIDUS_FormatTable4BasicTranscription.xsl">PAIDUS-Formatierungstabelle aus Basis-Transkription</a>		
		</li>
    </ul>
    </li>
    <li>zum Generieren einer HTML-Darstellung der Meta-Informationen und Sprechertabelle
    <ul>
		<li>
			<a href="files/Head2HTML_de.xsl">Kopfdaten als HTML-Darstellung, auf Deutsch</a>		
		</li>
		<li>
			<a href="files/HIAT_SKOBI_Infofenster.xsl">Kopfdaten als HTML-Darstellung, wie das syncWRITER-Infofenster</a>		
		</li>
    </ul>
    </li>
    <li>zum Generieren einer HTML-Darstellung aus einer &Auml;u&szlig;erungsliste
    <ul>
		<li>
			<a href="files/HIAT_PlainUtteranceList_Tbl.xsl">&Auml;u&szlig;erungsliste als HTML-Tabelle</a>
			<a href="files/Beispiel1_4_1.html"> [Beispiel]</a>			
		</li>
		<li>
			<a href="files/HIAT_PlainUtteranceList_Txt.xsl">&Auml;u&szlig;erungsliste als HTML-Text mit Zeilenumbr&uuml;chen</a>		
			<a href="files/Beispiel1_4_2.html"> [Beispiel]</a>			
		</li>
		<li>
			<a href="files/HIAT_ColoredUtteranceList.xsl">&Auml;u&szlig;erungsliste mit Farbunterscheidung der &Auml;u&szlig;erungstypen</a>
			<a href="files/Beispiel1_4_3.html"> [Beispiel]</a>			
		</li>
		<li>
			<a href="files/ListTranscription2SMIL.xsl">&Auml;u&szlig;erungsliste St&uuml;ck f&uuml;r St&uuml;ck (SMIL)</a>
			<a href="files/Beispiel1_4_4.html"> [Beispiel]</a>			
		</li>
    </ul>
    </li>
    <li>zum Visualisieren einer Basis-Transkription
    <ul>
		<li><a href="files/BT2PartiturHTML.xsl">Basis-Transkription als Partitur-Notation in HTML</a></li>
		<li><a href="files/BT2EventListHTML.xsl">Basis-Transkription als Ereignisliste in HTML</a></li>
		<li><a href="files/BT2ColumnHTML.xsl">Basis-Transkription als Spalten-Notation in HTML</a></li>		
	</ul>
    </li>
    <li>sonstige Stylesheets (nicht zur Integration in den Partitur-Editor)
    <ul>
		<li><a href="files/ST2HTML.xsl">Segmentierte Transkription als HTML-Darstellung</a></li>
		<li><a href="files/FSM2HTML.xsl">Endliche Maschine als HTML-Darstellung</a></li>
    </ul>
    </li>
  </ul>
    
  <h3 id="key">Tastatur-Belegungen f&uuml;r das Transkribieren nach HIAT und IPA</h3>
  
  <ul>
	<li>HIAT-Tastatur-Belegung
	<ul>
		<li><a title="PDF" href="files/HIAT_Keyboard.pdf">Installationshinweise und Dokumentation</a></li>
		<li><a  href="files/HIAT_Keyboard.zip">Tastaturbelegung f&uuml;r Windows</a></li>
		<li><a  href="files/HIAT.keylayout">Tastaturbelegung f&uuml;r MAC OS</a></li>
	</ul>
    </li>
	<li>IPA-Tastatur-Belegung
	<ul>
		<li><a title="PDF" href="files/IPA_Keyboard.pdf">Installationshinweise und Dokumentation</a></li>
		<li><a href="files/SILIPA93_Keyboard.zip">Tastaturbelegung f&uuml;r Windows</a></li>
		<li><a href="files/SIL_IPA_93.keylayout">Tastaturbelegung f&uuml;r MAC OS</a></li>
	</ul>
    </li>
  </ul>
  
  <h3 id="mac">Apple Scripts zum Auslesen von syncWRITER-Daten</h3>
  <ul>
	<li><a href="files/Handbuch_Anhang_A.pdf">Anleitung zum Benutzen der Scripts</a></li>
	<li><a title="Installation des StuffIt-Archivs" href="files/ExSyncScripts.sit">StuffIt-Archiv mit den Scripts</a></li>
  </ul>
  
  <hr/>
  <h2 id="other">Sonstige XML-Komponenten des EXMARaLDA-Systems</h2>

  <h3 id="dtd">&quot;Document Type Definitions&quot; (DTDs) und XML-Schemata</h3>
  <ul>
	<li><a href="files/basic-transcription.dtd">basic-transcription.dtd</a></li>
	<li><a href="files/tierformat-table.dtd">tierformat-table.dtd</a></li>
	<li><a href="files/segmented-transcription.dtd">segmented-transcription.dtd</a></li>
	<li><a  href="files/list-transcription.dtd">list-transcription.dtd</a></li>
	<li><a  href="files/interlinear-text.dtd">interlinear-text.dtd</a></li>
	<li><a  href="files/fsm.dtd">fsm.dtd</a></li>
	<li><a  href="files/unicode-keyboard.dtd">unicode-keyboard.dtd</a></li>
	<li><a  href="http://xml.exmaralda.org/comacorpus.xsd">CoMaCorpus.xsd</a></li>
  </ul>
  
  <h3 id="keyex">Tastaturbelegungen f&uuml;r die virtuelle Tastatur</h3>
  <ul>
	<li><a  href="files/Armenian.xml">Armenisches Alphabet</a></li>
	<li><a  href="files/Cyrillic.xml">Kyrillisches Alphabet</a></li>
	<li><a  href="files/Diacritics.xml">Diakritische Zeichen</a></li>
	<li><a  href="files/DIDA.xml">Sonderzeichen zum Transkribieren nach DIDA</a></li>
	<li><a  href="files/GAT.xml">Sonderzeichen zum Transkribieren nach GAT</a></li>
	<li><a  href="files/Greek.xml">Griechisches Alphabet</a></li>
	<li><a  href="files/HIAT.xml">Sonderzeichen zum Transkribieren nach HIAT</a></li>
	<li><a  href="files/HIAT_Germanic.xml">HIAT-Sonderzeichen und germanische Erweiterungen des lateinischen Alphabets</a></li>
	<li><a  href="files/HIAT_Romanic.xml">HIAT-Sonderzeichen und germanische Erweiterungen des romanischen Alphabets</a></li>
	<li><a  href="files/HIAT_Turkish.xml">HIAT-Sonderzeichen und germanische Erweiterungen des türkischen Alphabets</a></li>
	<li><a  href="files/IPA.xml">Internationales Phonetisches Alphabet</a></li>
	<li><a  href="files/MiscSymbols.xml">Sonstige Symbole und ikonische Zeichen</a></li>
	<li><a  href="files/SyncWriterConversion.xml">Spezialzeichen, das bei der Nachbearbeitung von aus syncWriter importierten Daten gebraucht wird</a></li>
  </ul>

  <h3 id="fsmex">Endliche Maschinen (Segmentierungsalgorithmen)</h3>
  <ul>
	<li><a href="files/HIAT_UtteranceWord.xml">Endliche Maschine f&uuml;r die HIAT-Segmentierung</a></li>
	<li><a href="files/DIDA_Word.xml">Endliche Maschine f&uuml;r die DIDA-Segmentierung</a></li>
	<li><a href="files/GAT_Phrasierungseinheit.xml">Endliche Maschine f&uuml;r die GAT-Segmentierung</a></li>
	<li><a href="files/CHAT_Utterance.xml">Endliche Maschine f&uuml;r die CHAT-Segmentierung</a></li>
  </ul>
  <hr noshade="noshade"/>
  <h2 id="othertools">Andere Werkzeuge</h2>
  <h3 id="teide"><a href="teide.html">TEI Document Explorer</a></h3>
	<ul>
    <li><a href="files/teide.jar">teide.jar</a></li>
  </ul>
  <h3 id="z2tagger"><a href="z2tagger.html">Z2-Tagger</a></h3>
	<ul>
    <li><a href="files/z2tagger_070111.jar">z2tagger.jar</a> (Version vom 24.08.2006)</li>
    </ul>
    <hr/>
  <h2 id="nonsens">Sonstiges</h2>
<ul>
    <li><a href="files/sevenofnine.mp3">Seven of Nine</a></li>
  </ul>
  
<hr/>
<h2><a name="applejava6" id="applejava6"></a>*Anmerkung zu Mac OS und Java 6</h2>
<p>Für Mac OS 10.5 gibt es im Augenblick keine offizielle Java 6-Laufzeitumgebung, die für die aktuellsten (&gt;1.0) Versionen von Coma benötigt wird. Wenn Sie einen Intel-Mac mit OS 10.5 haben, so können sie eine Vorabversion von Java 6 bei der <a href="https://connect.apple.com/">Apple Connect-Webseite</a> (nach Anmeldung) herunterladen.</p>
</div>


<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-53617-2";
urchinTracker();
</script>


</body>


</html>
