<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<link rel="shortcut icon" href="favicon.ico" />




<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="keywords" lang="en" xml:lang="en" content="transcription, linguistic annotation, coding, software, annotation tool, corpus, bilingual data" />
<title>EXMARaLDA: Downloads</title>
<link href="exmaralda.css" rel="stylesheet" type="text/css" media="screen" />
<link href="print.css" rel="stylesheet" type="text/css" media="print" />
<link href="mobile.css" rel="stylesheet" type="text/css" media="handheld" />
</head>

<body>
<!--#include file="en_nav.inc" -->

<div id="main">
  <h1 id="top">Downloads    <br />
  </h1>
  <p>The following downloads are available (Date: March 6 2009 (1604)):</p>
  <ul>
    <li><a href="#tools">EXMARaLDA tools</a> (on this page, you'll find the current official releases. On the  
      <a href="previews2.html">previews page</a> previews for upcoming versions are published on a regular basis.)
      <ul>
    	<li><a href="#pe">Partitur Editor</a></li>
		<li><a href="#coma">Corpus Manager</a></li>
		<li><a href="#exakt">Query Tool EXAKT</a></li>
    	<li><a href="#pre">Previous Versions of EXMARaLDA Tools</a></li>
    	<li><a href="#java">Java utilites</a></li>
      </ul>
    </li>
    <li><a href="#utils">Utilities for working with EXMARaLDA</a>
      <ul>
  		<li><a href="#xsl">Stylesheets for working with EXMARaLDA</a></li>
  		<li><a href="#key">Keyboard layouts for HIAT and IPA transcription</a></li>
  		<li><a href="#mac">Apple scripts for reading out syncWRITER data</a></li>
      </ul>
    </li>
    <li><a href="#other">Further XML Components for EXMARaLDA</a>
      <ul>
 		<li><a href="#dtd">&quot;Document Type Definitions&quot; (DTDs) and XML-Schemata</a></li>
    	<li><a href="#keyex">Keyboard layouts for the virtual keyboards of the Partitur Editor</a></li>
    	<li><a href="#fsmex">Finite State Machines for segmentation</a></li>
      </ul>
    </li>
  </ul>
  <hr/>
  <!-- ****************** -->
  <h2 id="tools">EXMARaLDA tools</h2>
  <h3 id="alltools" style="padding-bottom: 10px;	background: url(images/exmaralda.png) no-repeat 0 0;	padding-left: 36px;">Windows- and Linux distributions containing all tools</h3>
  <ul>
    <li>
      <a name="all-win" title="installer for all tools" href="files/1.2/exmaralda_setup.exe">Installer</a> for all tools
      (Partitur-Editor 1.4.1, Coma 1.4.1.224, EXAKT 0.5) for <img src="images/logo-windows.gif"/> Microsoft Windows 98/ME/NT/2000/XP/Vista
    </li>
    <li>
      <a name="all-unix" href="files/1.2/EXMARaLDA.tar.gz">Gnuzipped tar ball</a> containing all tools
      (Partitur-Editor 1.4.1, Coma 1.4.1.224, EXAKT 0.5) for <img src="images/logo-linux.gif"/> Linux
    </li>
  </ul>
  
  <h3 id="alltools" style="padding-bottom: 10px;	padding-left: 36px;">Single distributions for MAC OS X</h3>
  <h4 id="pe" style="padding-bottom: 10px;	background: url(images/pe.png) no-repeat 0 0;	padding-left: 36px;">Partitur-Editor</h4>
  <ul>
    <li><a name="pe-mac-power" title="Installationsprogramm f&uuml;r den Partitur-Editor" href="files/1.2/PartiturEditor_PPC.dmg">Partitur-Editor 1.4.1 for Mac&nbsp;OS X&nbsp;(Power PC)</a></li>
    <li><a name="pe-mac-intel" title="Installationsprogramm f&uuml;r den Partitur-Editor" href="files/1.2/PartiturEditor.dmg">Partitur-Editor 1.4.1 for Mac&nbsp;OS X&nbsp;(Intel PC)</a></li>
  </ul>
  <h4 id="coma" style="padding-bottom: 10px; background: url(images/coma.png) no-repeat 0 0;	padding-left: 36px;">Corpus-Manager</h4>
  <ul> 
    <li><a name="cm-mac" href="files/coma/Coma.dmg">Coma 1.4.1.224 for Mac OS</a> (.dmg; Mac OS &gt;10.5.2, Java 6)</li>
    <li><a href="files/coma/coma.jar" name="cm-jar" id="cm-jar">Coma 1.4.1.224 for Java 6</a> (.jar; for Windows, Mac OS<a href="#applejava6">*</a>, Linux)</li>
  </ul>
  <h4 id="exakt" style="padding-bottom: 10px; background: url(images/exakt.png) no-repeat 0 0; padding-left: 36px;">Query tool EXAKT</h4>
  <ul>
    <li><a name="ex-mac" title="Macintosh application EXAKT" href="files/1.2/Exakt_PPC.dmg">EXAKT 0.5 for Mac&nbsp;OS X&nbsp;(Power PC)</a></li>
    <li><a name="ex-mac" title="Macintosh application EXAKT" href="files/1.2/Exakt.dmg">EXAKT 0.5 for Mac&nbsp;OS X&nbsp;(Intel PC)</a></li>
  </ul>
  
  <h3 id="pre">Previous Versions of EXMARaLDA Tools</h3>
  <ul>
  	<li>
    <a href="files/zecke.jar">Query Tool Zecke 0.2 (jar file)</a>
    </li>
    <li>
    <a href="files/coma0.3.9SR1.jar">Corpus Manager 0.3.9 for Java 1.4</a> 
    </li>
  </ul>
  
  <h3 id="java">Java Utilities</h3>
  <ul>
	<li>
		<a href="http://jdl.sun.com/webapps/getjava/BrowserRedirect?locale=de&host=www.java.com:80">Java Runtime Environment (for Windows, Linux und Unix)</a>
	</li>
	<li>
		<a href="http://java.sun.com/products/java-media/jmf/2.1.1/download.html">Java Media Framework (for all operating systems)</a>
	</li>
	<li>
		<a href="http://java.sun.com/products/java-media/jmf/mp3/download.html">Java MP3 Plugin (for all operating systems)</a>
	</li>
  </ul>
  
  <hr/>
  
  <h2 id="utils">Utilities for working with EXMARaLDA</h2>
  
  <h3 id="xsl">Stylesheets for working with EXMARaLDA</h3>
  
  <ul>
  	<li>for generating a basic transcription from a speakertable
  	<ul>
		<li>
			<a href="files/HIAT_Spktbl2BT_V_AKZ_K_SUP_NN.xsl">HIAT basic transcription from speakertable</a>		</li>
		<li>
			<a href="files/DIDA_Spktbl2BT.xsl">DIDA basic transcription from speakertable</a>		</li>
  	</ul>
    </li>
    <li>for generating a format table from a basic transcription
    <ul>
		<li>
			<a href="files/HIAT_FormatTable4BasicTranscription.xsl">HIAT format table from basic transcription</a>		</li>
		<li>
			<a href="files/PAIDUS_FormatTable4BasicTranscription.xsl">PAIDUS format table from basic transcription</a>		</li>
    </ul>
    </li>
    <li>for generating an HTML output of the meta information and the speakertable
    <ul>
		<li>
			<a href="files/Head2HTML_de.xsl">Transcription head as HTML output, in German</a>		</li>
		<li>
			<a href="files/HIAT_SKOBI_Infofenster.xsl">Transcription head as HTML output, syncWRITER &quot;info window&quot;-style</a>		</li>
    </ul>
    </li>
    <li>for generating an HTML output of an utterance list
    <ul>
		<li>
			<a href="files/HIAT_PlainUtteranceList_Tbl.xsl">Utterance List as HTML table</a>
			<a href="files/Beispiel1_4_1.html"> [Example]</a>		</li>
		<li>
			<a href="files/HIAT_PlainUtteranceList_Txt.xsl">Utterance List as HTML text with line breaks</a>		
			<a href="files/Beispiel1_4_2.html"> [Example]</a>		</li>
		<li>
			<a href="files/HIAT_ColoredUtteranceList.xsl">Utterance List with differently coloured utterances according to utterance type</a>
			<a href="files/Beispiel1_4_3.html"> [Example]</a> </li>
		<li>
			<a href="files/ListTranscription2SMIL.xsl">Utterance List item-for-item (SMIL)</a>
			<a href="files/Beispiel1_4_4.html"> [Example]</a> </li>
    </ul>
    </li>
    <li>for visualizing a basic transcription
    <ul>
		<li><a href="files/BT2PartiturHTML.xsl">Basic transcription as musical score (partitur) notation in HTML</a></li>
		<li><a href="files/BT2EventListHTML.xsl">Basic transcription as list of events in HTML</a></li>
		<li><a href="files/BT2ColumnHTML.xsl">Basic transcription as column notation in HTML</a></li>		
	</ul>
    </li>
    <li>Miscellaneous stylesheets (not for integration with the Partitur Editor)
    <ul>
		<li><a href="files/ST2HTML.xsl">Segmented transcription as HTML output</a></li>
		<li><a href="files/FSM2HTML.xsl">Finite State Machine as HTML output</a></li>
    </ul>
    </li>
  </ul>  
  
  <h3 id="key">Keyboard layouts for HIAT and IPA transcription</h3>
  
  <ul>
	<li>HIAT keyboard layout
	<ul>
		<li><a title="PDF" href="files/HIAT_Keyboard.pdf">&quot;Installationshinweise und Dokumentation&quot;</a></li>
		<li><a  href="files/HIAT_Keyboard.zip">Download for MS Windows</a></li>
		<li><a  href="files/HIAT.keylayout">Download for Mac&nbsp;OS&nbsp;X</a></li>
	</ul>
    </li>
	<li>IPA keyboard layout
	<ul>
		<li><a title="PDF" href="files/IPA_Keyboard.pdf">&quot;Installationshinweise und Dokumentation&quot;</a></li>
		<li><a href="files/SILIPA93_Keyboard.zip">Download for MS Windows</a></li>
		<li><a href="files/SIL_IPA_93.keylayout">Download for Mac&nbsp;OS&nbsp;X</a></li>
	</ul>
    </li>
  </ul>
  
  <h3 id="mac">Apple scripts for reading out syncWRITER data</h3>
  <ul>
	<li><a href="files/Handbuch_Anhang_A.pdf">German instructions for using the scripts</a>. (For an English version, pease contact <a href="mailto:thomas.schmidt@uni-hamburg.de">Thomas Schmidt</a>).</li>
	<li><a title="StuffIt Archive Installation" href="files/ExSyncScripts.sit">StuffIt archive with Scripts</a></li>
  </ul>
  
  <hr/>
  <h2 id="other">Further XML Components for EXMARaLDA</h2>

  <h3 id="dtd">&quot;Document Type Definitions&quot; (DTDs) und XML-Schemata</h3>
  <ul>
	<li><a href="files/basic-transcription.dtd">basic-transcription.dtd</a></li>
	<li><a href="files/tierformat-table.dtd">tierformat-table.dtd</a></li>
	<li><a href="files/segmented-transcription.dtd">segmented-transcription.dtd</a></li>
	<li><a  href="files/list-transcription.dtd">list-transcription.dtd</a></li>
	<li><a  href="files/interlinear-text.dtd">interlinear-text.dtd</a></li>
	<li><a  href="files/fsm.dtd">fsm.dtd</a></li>
	<li><a  href="files/unicode-keyboard.dtd">unicode-keyboard.dtd</a></li>
	<li><a  href="http://xml.exmaralda.org/comacorpus.xsd">CoMaCorpus.xsd</a></li>
  </ul>
  
  <h3 id="keyex">Keyboard layouts</h3>
  <ul>
	<li><a  href="files/Armenian.xml">Armenian alphabet</a></li>
	<li><a  href="files/Cyrillic.xml">Cyrillic alphabet</a></li>
	<li><a  href="files/Diacritics.xml">Diacritical marks</a></li>
	<li><a  href="files/DIDA.xml">Special symbols for transcribing according to DIDA</a></li>
	<li><a  href="files/GAT.xml">Special symbols for transcribing according to GAT</a></li>
	<li><a  href="files/Greek.xml">Greek alphabet</a></li>
	<li><a  href="files/HIAT.xml">Special symbols for transcribing according to HIAT</a></li>
	<li><a  href="files/HIAT_Germanic.xml">HIAT special symbols with additional extensions of the Latin alphabet from Germanic languages</a></li>
	<li><a  href="files/HIAT_Romanic.xml">HIAT special symbols with additional extensions of the Latin alphabet from Romance languages</a></li>
	<li><a  href="files/HIAT_Turkish.xml">HIAT special symbols with additional extensions of the Latin alphabet from Turkish</a></li>
	<li><a  href="files/IPA.xml">International Phonetic Alphabet</a></li>
	<li><a  href="files/MiscSymbols.xml">Miscellaneous symbols, iconic signs</a></li>
	<li><a  href="files/SyncWriterConversion.xml">Symbols required for converting and post-editing syncWRITER data</a></li>
  </ul>

  <h3 id="fsmex">Finite State Machines (segmentation algorithms)</h3>
  <ul>
	<li><a href="files/HIAT_UtteranceWord.xml">Finite state machine describing the segmentation algorithm for HIAT</a></li>
	<li><a href="files/DIDA_Word.xml">Finite state machine describing the segmentation algorithm for DIDA</a></li>
	<li><a href="files/GAT_Phrasierungseinheit.xml">Finite state machine describing the segmentation algorithm for GAT</a></li>
	<li><a href="files/CHAT_Utterance.xml">Finite state machine describing the segmentation algorithm for CHAT</a></li>
  </ul>
  <hr noshade="noshade"/>
  <h2 id="othertools">Other Tools</h2>
  <h3 id="teide"><a href="teide.html">TEI Document Explorer</a></h3>
	<ul>
    <li><a href="files/teide.jar">teide.jar</a></li>
  </ul>
  <h3 id="z2tagger"><a href="z2tagger.html">Z2-Tagger</a></h3>
	<ul>
    <li><a href="files/z2tagger_070111.jar">z2tagger.jar</a></li>
    </ul>
</div>

<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-53617-2";
urchinTracker();
</script>


</body>


</html>
