<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="de" xml:lang="de">
<head>
    <link rel="shortcut icon" href="favicon.ico" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>FOLKER: Previews</title>
</head>

<body>

<div id="main">
  <h1 id="top">Previews<br /></h1>
  <p>These are the most recent previews of FOLKER.
      <ul>
          <li><b>Date:</b> @DATE@</li>
          <li><b>Version:</b> @FOLKER-VERSION@</li>
      </ul>
      Here is a <a href="folker_changes.html">list describing all changes to the tool</a>.
  </p>
  <p>
      <b>Downloads for Windows 98/ME/NT/2000/XPVista</b>
      <ul>
          <li><a href="folker_setup.exe">FOLKER setup file</a></li>
      </ul>
      <b>Downloads for Intel MAC (MAC OS 10.4 or higher)</b>
      <ul>
          <li><a href="folker.dmg">FOLKER disk image</a></li>
      </ul>
  </p>
    
  
  
</div>




</body>


</html>
