<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="de" xml:lang="de">
<head>
    <link rel="shortcut icon" href="favicon.ico" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>EXMARaLDA: Downloads</title>
    <link href="exmaralda.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="print.css" rel="stylesheet" type="text/css" media="print" />
    <link href="mobile.css" rel="stylesheet" type="text/css" media="handheld" />
</head>

<body>
<!--#include file="nav.inc" -->

<div id="main">
  <h1 id="top">Previews<br /></h1>
  <p>These are the most recent previews of upcoming versions of all EXMARaLDA tools.
      <ul>
          <li><b>Date:</b> April 15 2009 (1616)</li>
          <li><b>Partitur-Editor:</b> 1.4.2</li>
          <li><b>Coma:</b> 1.4.2</li>
          <li><b>Exakt:</b> 0.5</li>
      </ul>
      Here is a <a href="changes.html">list describing all changes to the tools</a>.
  </p>
  <p>
      <b>Downloads for Windows 98/ME/NT/2000/XPVista</b>
      <ul>
          <li><a href="files/preview/exmaralda_setup.exe">EXMARaLDA setup file</a> containing all tools</li>
      </ul>
  </p>
    <p>
        <b>Downloads for Intel Mac</b>
        <ul>
            <li><a href="files/preview/PartiturEditor.dmg">Partitur-Editor disk image</a> containing a Mac application</li>
            <li><a href="files/preview/Coma.dmg">Coma disk image</a> containing a Mac application</li>
            <li><a href="files/preview/Exakt.dmg">Exakt disk image</a> containing a Mac application</li>
        </ul>
    </p>
    <p>
        <b>Downloads for PPC Mac</b>
        <ul>
            <li><a href="files/preview/PartiturEditor_PPC.dmg">Partitur-Editor disk image</a> containing a Mac application</li>
            <li><a href="files/preview/Exakt_PPC.dmg">Exakt disk image</a> containing a Mac application</li>
        </ul>
    </p>
    <p>
        <b>Downloads for Linux</b>
        <ul>
            <li><a href="files/preview/EXMARaLDA.tar.gz">EXMARaLDA with FOBS JMF </a>: gnuzipped tar ball containing all tools</li>
            <li><a href="files/preview/EXMARaLDA_SUN_JMF.tar.gz">EXMARaLDA with SUN JMF</a>: gnuzipped tar ball containing all tools</li>
        </ul>
    </p>
    
  
  
</div>


<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-53617-2";
urchinTracker();
</script>


</body>


</html>
