<style type="text/css" media="screen">
h2 {
font-size:larger;
}
table {
font-family:Arial,Helvetica,sans-serif;
font-size:10px;
width:100%;
}
td {
}
.description {
background-color:#EEEEEE;
font-weight:bold;
}
.key{
background-color:#F4F4F4;
}
.keyodd{
background-color:#FAFAFA;
}
.keyeven{
background-color:#FCFCFC;
}
.speaker {
background-color:#BBBBBB;
font-size:larger;
font-weight:bold;
}
.transcription {
background-color:#DDDDDD;
font-weight:bold;
}
.file {
background-color:#DDDDDD;
font-weight:bold;
}
.language {
background-color:#DDDDDD;
font-weight:bold;
}
.recording {
background-color:#DDDDDD;
font-weight:bold;
}
.location {
background-color:#DDDDDD;
font-weight:bold;
}
.communication {
background-color:#BBBBBB;
font-size:larger;
font-weight:bold;
}
a {
text-decoration: none;
color: black;
} 
</style>
